<% poll_group.each do |poll| %>

  <div class='row collapse resource-n poll-n' data-equalizer='main' data-equalize-on="medium">
    <div class='columns'>
      <div class='column projekt-info show-for-small-only' style="background-color:<%= poll.projekt.color %>;color:<%= pick_text_color(poll.projekt.color) %>;" >
        <%= render partial: 'polls/poll/projekt_bar', locals: {poll: poll} %>
      </div>
    </div>

    <div class='columns small-12 medium-3 large-2 image-container show-for-small-only'>
      <% if poll.image.present? %>
        <%= image_tag poll.image_url(:large), alt: poll.image.title.unicode_normalize %>
      <% end %>
    </div>

    <div class='columns small-12 medium-3 large-2 image-container show-for-medium' data-equalizer-watch='main'>
      <% if poll.image.present? %>
        <%= image_tag poll.image_url(:thumb_wider), alt: poll.image.title.unicode_normalize %>
      <% end %>
    </div>


    <div class='columns small-12 medium-9 large-10 details' data-equalizer-watch='main'>
      <div class='column projekt-info show-for-medium' style="background-color:<%= poll.projekt.color %>;color:<%= pick_text_color(poll.projekt.color) %>; border-right: 1px solid <%= poll.projekt.color %>" >
        <%= render partial: 'polls/poll/projekt_bar', locals: {poll: poll} %>
      </div>

      <div class='resource-info' data-equalizer='details'>

        <div class='column small-12 medium-6 large-8 resource-details' data-equalizer-watch='details'>

          <h4 class='resource-name'><%= link_to_poll poll.name, poll %></h4>
          <div class="resource-summary margin-bottom">
            <%= auto_link_already_sanitized_html simple_format(poll.summary) %>
            <div class="truncate"></div>
          </div>
          <%= render "shared/tags", taggable: poll, limit: 5 %>

        </div>
        <div class='column small-12 medium-6 large-4 resource-participate table' data-equalizer-watch='details'>
          <div class='table-cell align-middle'>
            <div class='row'>
              <div class="small-12 medium-10 small-centered column margin-top">
                <div class='vote column'>
                  <%= link_to poll_path(id: poll.slug || poll.id), class: "button hollow expanded" do %>
                    <%= t("custom.polls.poll.participate_button") %>
                  <% end %>
                  <% unless poll.expired? %>
                    <div class="poll-dates-distance">
                      <%= t("custom.polls.poll.days_left", count: (poll.ends_at.to_date - Date.today).to_i ) %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
