<% provide :title do %><%= t("polls.index.title") %><% end %>

<%= render_custom_partial "meta_description" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: polls_url %>
<% end %>

<%= render_custom_partial "social_meta_tags" %>
  
<main>
  
  <%= render "shared/section_header", i18n_namespace: "polls.index.section_header", image: "polls" %>
  
  <div class="row">
    <div class="small-12 medium-9 column">

      <% if extended_feature?('polls.intro_text_for_polls') %>
        <%=render_custom_block 'polls_welcome' %>
      <% end %>

      <% if show_polls_description? %>
        <div class="polls-description">
          <%= auto_link_already_sanitized_html wysiwyg(@active_poll.description) %>
        </div>
      <% end %>

      <%= render "shared/filter_subnav", i18n_namespace: "polls.index" %>

      <% if @polls.any? %>

        <div class='row'>
          <div class='small-6 column small'>
            <%= link_to t('polls.index.section_header.help'), '#section_help' %>
          </div>
          <div class='small-6 column small'>
            <% if extended_feature?('modulewide.show_number_of_entries_in_modules') %>
              <div class='float-right'>
                <%= @all_polls.count %>
                <%= t('activerecord.models.poll', count: @all_polls.count) %>
              </div>
            <% end %>
          </div>
        </div>


        <div class='margin-top'>
        <%= render "poll_group", poll_group: @polls %>
        </div>

        <%= paginate @polls %>
      <% else %>
        <div class="callout primary margin-top">
          <%= t("polls.index.no_polls") %>
        </div>
      <% end %>

      <div id="section_help" class="margin" data-magellan-target="section_help">
        <% if extended_feature?('modulewide.custom_help_text_in_modules')  %>
          <%=render_custom_block 'polls_help' %>
        <% else %>
          <p class="lead">
            <strong><%= t("polls.index.section_footer.title") %></strong>
          </p>
          <p><%= t("polls.index.section_footer.description") %></p>
        <% end %>
        <%= render_custom_partial "footer" %>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <%= render "shared/projekts_sidebar" %>
        <% if show_affiliation_filter_in_sidebar? %>
          <%= render "shared/sidebar_filter/geozone_affiliations" %>
        <% end %>
        <% unless skip_user_verification? %>
          <%= render "shared/sidebar_filter/geozone_restrictions" %>
        <% end %>
        <%= render "shared/categories", taggable: "poll" %>
        <%= render "shared/tag_cloud", taggable: "poll" %>
        <%= render SDG::Goals::TagCloudComponent.new("Poll") %>
      </aside>
    </div>
  </div>
</main>
