<%= provide :title, t("social_share.polls_show.title_#{@poll.id}", default: @poll.title) %>
<%= provide :meta_description, t("social_share.polls_show.description_#{@poll.id}", default: @poll.title) %>
<%= provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: poll_url,
              social_title: t("social_share.polls_show.title_#{@poll.id}", default: @poll.title),
              social_description: t("social_share.polls_show.facebook_#{@poll.id}", default: @poll.title),
              twitter_image_url:  "social_media_polls_twitter.jpg",
              og_image_url: "social_media_polls.jpg" %>
<% end %>

<main>
  <div class="polls-show">
		<div class="row">
			<div class="column margin-bottom">
				<%= render partial: "shared/participation/projekt_bar", locals: { resource: @poll } %>
			</div>
		</div>

		<div class="row">
			<div class="column small-12 medium-9">
        <h1><%= @poll.name %></h1>
			</div>
		</div>

    <div class="row">
      <div class="small-12 medium-9 column">
				<%= render "poll_header" %>

				<%= render "poll_subnav" %>

        <%= render "callout" %>

        <% if @poll.voted_in_booth?(current_user) %>
          <div class="callout warning">
            <%= t("polls.show.already_voted_in_booth") %>
          </div>
        <% else %>

          <% if current_user && @poll.voted_in_web?(current_user) && !@poll.expired? %>
            <div class="callout warning">
              <%= t("polls.show.already_voted_in_web") %>
            </div>
          <% end %>
        <% end %>

        <% if can?(:answer, @poll) %>
          <div class="callout primary">
            <%= t("poll_questions.show.withdraw_answers_hint") %>
          </div>
        <% end %>

        <% @questions.each do |question| %>
          <%= render "polls/questions/question", question: question, token: @token %>
        <% end %>

        <% if @poll.current? %>
          <div id='confirm-poll-participation-outer-wrapper'>
            <div class='confirm-poll-participation-inner-wrapper'>
              <div id="confirm-poll-participation">
                <%= button_to t('custom.polls.show.confirm_participation_button'), poll_confirm_participation_path(@poll), method: :post, remote: true, class: 'button success' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

			<aside class="small-12 medium-3 column">
        <%= render "polls/poll/poll_info" %>

				<%= render "shared/social_share",
					share_title: t("shared.share"),
					title: @poll.name,
					url: poll_url(@poll),
					description: @poll.name,
					mobile: @poll.name
				%>
			</aside>
    </div>

    <% if extended_feature?("polls.additional_information") %>
      <div class="expanded poll-more-info">
        <div class="row margin">
          <div class="small-12 medium-9 column">
            <h3><%= t("polls.show.more_info_title") %></h3>
            <%= auto_link_already_sanitized_html simple_format(@poll.description) %>
          </div>
        </div>
      </div>
		<% end %>

    <% unless extended_feature?("polls.additional_info_for_each_answer") %>
      <div id="poll_more_info_answers" class="expanded poll-more-info-answers">
        <div class="row padding">
          <% @poll_questions_answers.each do |answer| %>
            <div class="small-12 medium-6 column end answer <%= cycle("first", "") %>" id="answer_<%= answer.id %>">
              <%= render "polls/questions/answer_more_info_modal_content", answer: answer %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% @questions.each do |question| %>
      <% question.question_answers.each do |answer| %>
        <% if answer_with_description?(answer) %>
          <%= render partial: 'polls/questions/answer_more_info_modal', locals: { answer: answer } %>
        <% end %>
      <% end %>
    <% end %>

    <% if extended_feature?("polls.enable_comments") %>
      <div class="tabs-content" data-tabs-content="polls_tabs">
        <%= render "filter_subnav" %>

        <div class="tabs-panel is-active" id="tab-comments">
          <%= render "comments" %>
        </div>
      </div>
    <% end %>
  </div>
</main>
