<div class="collapse projekt-listing">

  <div class='image'>
    <% if projekt.image.present? %>
      <% if projekt.page&.published? %>
        <%= link_to projekt.page.url do %>
          <%= image_tag projekt.image_url(:medium) %>
        <% end %>
      <% else %>
        <%= image_tag projekt.image_url(:medium) %>
      <% end %>
    <% end %>
  </div>

  <div class='content'>
    <h4 class="projekt-title"><%= projekt.page.title %></h4>
    <p><%= projekt.description %></p>
    <%= render "shared/tags", taggable: projekt, limit: 5 %>
  </div>

  <% if projekt.page&.published? %>
    <div class='projekt-link'>
      <%= link_to 'Zum Projekt', projekt.page.url, class: 'button' %>
    </div>
  <% end %>
</div>
