<main>
  <div class='row'>
    <div class='column'>
      <h1 class='margin-bottom'>
        <%= t('custom.projekts.index.title') %>
      </h1>
    </div>
  </div>

  <div class='row'>
    <div class='column small-12 medium-9'>

      <% if @current_projekts.any? %>
        <h3><%= t('custom.projekts.index.current_projekts') %></h3>

        <% Projekt.top_level.each do |top_level_projekt| %>
          <% top_level_projekt.all_children_projekts.unshift(top_level_projekt).each do |projekt| %>
            <%= render partial: 'projekt', locals: { projekt: projekt } if projekt.in? @current_projekts %>
          <% end %>
        <% end %>
      <% end %>

      <% if @expired_projekts.any? %>
        <h3 class='margin-top'><%= t('custom.projekts.index.expired_projekts') %></h3>

        <% Projekt.top_level.each do |top_level_projekt| %>
          <% top_level_projekt.all_children_projekts.unshift(top_level_projekt).each do |projekt| %>
            <%= render partial: 'projekt', locals: { projekt: projekt } if projekt.in? @expired_projekts %>
          <% end %>
        <% end %>
      <% end %>

    </div>

    <div class='column small-12 medium-3'>
      <%= render "shared/social_share",
          share_title: t("custom.pages.social_share.share"),
          title: 'Title',
          url: url_for(only_path: false),
          description: 'Description',
          mobile: 'Description'
      %>
    </div>
  </div>
</main>
