<% if !user_signed_in? %>
  <div class="icon-poll-answer not-logged-in" title="<%= t("polls.index.not_logged_in") %>">
    <span class="show-for-sr"><%= t("polls.index.not_logged_in") %></span>
  </div>
<% elsif user_signed_in? %>
  <% if current_user.unverified? %>
    <div class="icon-poll-answer unverified" title="<%= t("polls.index.unverified") %>">
      <span class="show-for-sr"><%= t("polls.index.unverified") %></span>
    </div>
  <% elsif cannot?(:answer, poll) %>
    <div class="icon-poll-answer cant-answer" title="<%= t("polls.index.cant_answer") %>">
      <span class="show-for-sr"><%= t("polls.index.cant_answer") %></span>
    </div>
  <% elsif !poll.votable_by?(current_user) %>
    <div class="icon-poll-answer already-answer" title="<%= t("polls.index.already_answer") %>">
      <span class="show-for-sr"><%= t("polls.index.already_answer") %></span>
    </div>
  <% end %>
<% end %>
