<%= f.fields_for phase_name.to_s do |phase_form| %>
  <tr class="projekt_phase_settings">
    <td>
      <%= t("custom.admin.projekts.edit.#{phase_name}") %>
    </td>
    <td>
      <%= phase_form.date_field :start_date, label: t("custom.admin.projekts.edit.start_date")  %>
    </td>
    <td>
      <%= phase_form.date_field :end_date, label: t("custom.admin.projekts.edit.end_date") %>
    </td>
    <td>
      <%= phase_form.check_box :active, { label: t("custom.admin.projekts.edit.activate") } %>
    </td>
  </tr>

  <tr class="projekt_phase_geozones">
    <td colspan="4">

      <ul>
        <li <%= "class=label-selected" if (geozone_restricted == 'no_restriction') || (geozone_restricted.blank? ) %> >
          <%= label_tag 'geozone_restriction_no_restriction', class: 'label_class' do %>
            <%= radio_button_tag :geozone_restriction, 'no_restriction', (geozone_restricted == 'no_restriction') || (geozone_restricted.blank?), { class: 'js-filter-geozone-restriction' }  %>
            <%= t('custom.geozones.sidebar_filter.no_restriction' ) %>
            <span class="checkmark"></span>
          <% end %>
        </li>

        <li <%= "class=label-selected" if geozone_restricted == 'only_citizens' %> >
          <%= label_tag 'geozone_restriction_only_citizens', class: 'label_class toggle-geozones-list' do %>
            <%= radio_button_tag :geozone_restriction, 'only_citizens', geozone_restricted == 'only_citizens', { class: 'js-filter-geozone-restriction' }  %>
            <%= t('custom.geozones.sidebar_filter.only_citizens') %>
            <span class="checkmark"></span>
          <% end %>
        </li>

        <li <%= "class=label-selected" if geozone_restricted == 'only_geozones' %> >
          <%= label_tag 'geozone_restriction_only_geozones', class: 'label_class toggle-geozones-list' do %>
            <%= radio_button_tag :geozone_restriction, 'only_geozones', geozone_restricted == 'only_geozones', { class: 'js-filter-geozone-restriction' }  %>
            <%= t('custom.geozones.sidebar_filter.only_geozones') %>
            <span class="checkmark"></span>
          <% end %>
        </li>

        <ul id="geozones-list">
          <% @geozones.each do |geozone| %>
            <%= render partial: "shared/sidebar_filter/geozones_sidebar_option", locals: { geozone: geozone, selected_geozones: @selected_geozones } %>
          <% end  %>
          <small <%= "class=hide" unless @selected_geozones.any?  %>>
            <%= link_to t('custom.geozones.sidebar_filter.show_more'), '#', class: 'js-show-all-geozones'  %>
          </small>
        </ul>
      </ul>

    </td>
  </tr>
<% end %>
