<%= f.fields_for phase_name.to_s do |phase_form| %>
  <tr class="projekt_phase_settings">
    <td>
      <%= t("custom.admin.projekts.edit.#{phase_name}") %>
    </td>
    <td>
      <%= phase_form.date_field :start_date, label: t("custom.admin.projekts.edit.start_date")  %>
    </td>
    <td>
      <%= phase_form.date_field :end_date, label: t("custom.admin.projekts.edit.end_date") %>
    </td>
    <td>
      <%= phase_form.check_box :active, { label: t("custom.admin.projekts.edit.activate") } %>
    </td>
  </tr>

  <tr class="projekt_phase_geozones">
    <td></td>
    <td colspan="3">
      <%= render partial: 'phase_geozone_restriction', locals: { phase_form: phase_form, projekt_phase: projekt_phase, phase_name: phase_name } %>
    </td>
  </tr>
<% end %>
