<ul class="tabs"
    id="projekts-tabs"
    data-deep-link="true"
    data-update-history="true"
    data-deep-link-smudge="true"
    data-deep-link-smudge-delay="500"
    data-tabs>
  <li class="tabs-title is-active">
    <%= link_to "#tab-projekt-configuration" do %>
      <%= t("custom.admin.projekts.tabs.configuration") %>
    <% end %>
  </li>

  <li class="tabs-title" id="projekts-settings-tab">
    <%= link_to "#tab-projekts-settings" do %>
      <%= t("custom.admin.projekts.tabs.settings") %>
    <% end %>
  </li>

  <li class="tabs-title" id="projekts-overview-page-tab">
    <%= link_to "#tab-projekts-overview-page" do %>
      <%= t("custom.admin.projekts.tabs.overview_page") %>
    <% end %>
  </li>

  <li class="tabs-title" id="projekt-map-tab">
    <%= link_to "#tab-projekt-map" do %>
      <%= t("custom.admin.projekts.tabs.map_settings") %>
    <% end %>
  </li>

  <li class="tabs-title" id="projekts-geozones-tab">
    <%= link_to "#tab-projekts-geozones" do %>
      <%= t("custom.admin.projekts.tabs.geozones") %>
    <% end %>
  </li>
</ul>
