<tr class='projekt-details'>
  <td colspan="5">

    <div class='projekt-summary'>               

      <div class='section-title'>
      <strong>
        <%= t("custom.admin.projekts.edit.projekt_status") %>
      </strong>
      </div>
      <div>
        <%= t("custom.admin.projekts.edit.projekt_activated") %>
      </div> 
      <div>
        <%= t("custom.admin.projekts.edit.setting_indicator")[projekt_feature?(projekt, 'main.activate')] %>
      </div> 

      <div>
        <%= t("custom.admin.projekts.edit.show_in_navigation_checkbox") %>
      </div> 
      <div>
        <%= t("custom.admin.projekts.edit.setting_indicator")[projekt_feature?(projekt, 'general.show_in_navigation')] %>
      </div>

      <div>
        <%= t("custom.admin.projekts.edit.show_footer") %>
      </div> 
      <div>
        <%= t("custom.admin.projekts.edit.setting_indicator")[projekt_feature?(projekt, 'footer.show_projekt_footer')] %>
      </div>

      <div class='margin-top section-title'>
        <strong>
          <%= t("custom.admin.projekts.edit.projekt_page") %>
        </strong>
      </div>

      <div>
        <% if projekt.page.present?  %>
          <%= link_to t("custom.admin.projekts.index.edit_page"), edit_admin_site_customization_page_path(projekt.page) %>
          <% if projekt.page.published? %>
            <br>
            <%= link_to t("custom.admin.projekts.index.page_link"), projekt.page.url %>
          <% end %>
          <br>
          <%= link_to t("custom.admin.projekts.index.add_cards"), admin_site_customization_page_widget_cards_path(projekt.page) %>
        <% end %>
      </div>

      <div>
      </div> 


      <div class='margin-top section-title'>
        <strong>
          <%= t("custom.admin.projekts.index.projekt_information") %>
        </strong>
      </div>

      <div>
        <%= t("custom.admin.projekts.index.projekt_duration") %>
      </div>
      <div>
        <%= format_date_range(projekt.total_duration_start, projekt.total_duration_end) %>
      </div>

      <div>
        <%= t("custom.admin.projekts.index.projekt_affiliation") %>
      </div>
      <div>
        <%= get_projekt_affiliation_name(projekt) %>
      </div>

      <div class='margin-top section-title'>
      <strong>
        <%= t("custom.admin.projekts.edit.projekt_phasen") %>
      </strong>
      </div>

      <div class='debate-phase'>
        <div>
          <%= t("custom.admin.projekts.index.debate_phase") %>
        </div>
        <div>
          <%=  get_projekt_phase_duration(projekt&.debate_phase) %>
        </div>

        <div>
          <%= t("custom.admin.projekts.index.projekt_phase_limitation") %>
        </div>
        <div>
          <%=  get_projekt_phase_restriction_name(projekt&.debate_phase) %>
        </div>
      </div>

      <div class='proposal-phase'>
        <div>
          <%= t("custom.admin.projekts.index.proposal_phase") %>
        </div>
        <div>
          <%=  get_projekt_phase_duration(projekt&.proposal_phase) %>
        </div>
        <div>
          <%= t("custom.admin.projekts.index.projekt_phase_limitation") %>
        </div>
        <div>
          <%=  get_projekt_phase_restriction_name(projekt&.proposal_phase) %>
        </div>
      </div>

      <div class='voting-phase'>
        <div>
          <%= t("custom.admin.projekts.index.voting_phase") %>
        </div>
        <div>
          <%= link_to t("custom.admin.projekts.edit.projekt_phases_tab.voting_manage"), admin_polls_path  %>
        </div>
      </div>

    </div>
  </td>
</tr>
