<% projekt_level ||= 1 %>

<tr class='projekt-row' aria-expanded=false>
  <%= form_for(projekt,
        url: quick_update_admin_projekt_path(projekt),
        as: :projekt,
        html: { id: "edit_projekt_#{projekt.id}" }) do |f| %>

    <td class='projekt-info'>
      <div>
        <%= label_tag t('custom.admin.projekts.index.info') %>
      </div>
      <div class='info-arrow js-toggle-edit-projekt-info'>
      </div>
    </td>

    <td class='projekt-level'>
      <div class='projekt-level-title'>
        <%= label_tag t('custom.admin.projekts.index.level') %>
      </div>
      <h2 class='projekt-level-number'>
        <%= projekt_level %>
      </h2>
    </td>

    <td class='projekt-order'>
      <div class='projekt-order-title'>
        <%= label_tag t('custom.admin.projekts.index.position') %>
      </div>
      <h2 class='order-number'>
        <%= projekt.order_number %>
      </h2>
      <div class='projekt-order-arrow-controls'>
        <div class='projekt-order-arrow-up'>
          <%= link_to order_up_admin_projekt_path(projekt.id) do %>
            <%= svg_tag "arrow-up-solid", height: 15 %>
          <% end %>
        </div>
        <div class='projekt-order-arrow-up'>
          <%= link_to order_down_admin_projekt_path(projekt.id) do %>
            <%= svg_tag "arrow-down-solid", height: 15 %>
          <% end %>
        </div>
      </div>
    </td>

    <td class='small-3 projekt-text-field '>
      <% projekts = Projekt.all.reject { |p| p.id.in?(projekt.all_children_ids) || p.id == projekt.id } %>
      <%= f.select :parent_id, projekts.pluck(:name, :id),
                   { include_blank: true, label: t('custom.admin.projekts.index.parent') },
                   { id: "projekt_parent_#{projekt.id}"} %>
    </td>

    <td class='small-3 projekt-text-field'>
      <%= f.text_field :name, 
                       id: "projekt_name_#{projekt.id}", 
                       label: t('custom.admin.projekts.index.name_singular') %>
    </td>


    <td class='small-3' id="projekt_<%= projekt.id %>">
      <div class='projekt-action-buttons float-left'>

        <%= link_to edit_admin_projekt_path(projekt.id), class: 'configure-link', title: t("custom.admin.projekts.edit_projekt") do %>
          <%= icon('far', 'edit') %>
        <% end %>

        <%= link_to '#', class: "configure-link update-projekt-link js-quick-projekt-update", title: t("admin.actions.update") do %>
          <%= icon('fas', 'sync') %>
        <% end %>

        <%= link_to admin_projekt_path(projekt), method: :delete, class: "destroy-link", title: t("custom.admin.projekts.destroy") do %>
          <%= icon('far', 'trash-alt') %>
        <% end %>
     </div>
    </td>
  <% end %>
</tr>

<%= render partial: 'projekt_details', locals: { projekt: projekt } %>

<% if projekt.children.any? %>
  <% projekt.children.order(order_number: :asc).each do |child_projekt| %>
    <%= render partial: "projekt", locals: { projekt: child_projekt, projekt_level: projekt_level + 1 } %> 
  <% end %>
<% end %>
