<tr class='projekt-details'>
  <td colspan="5">

    <div class='projekt-dates'>               
      <div>
        <%= t("custom.admin.projekts.edit.projekt_duration") %>
      </div>
      <div>
        <%=  format_date_range(projekt.total_duration_start, projekt.total_duration_end) %>
      </div>

      <div>
        <%= t("custom.admin.projekts.edit.debate_phase") %>
      </div>
      <div>
        <% if projekt.debate_phase.present? %>
          <%= format_date_range(projekt.debate_phase.start_date, projekt.debate_phase.end_date) %>
        <% else %>
          <%= format_date_range %>
        <% end %>
      </div>

      <div>
        <%= t("custom.admin.projekts.edit.proposal_phase") %>
      </div>
      <div>
        <% if projekt.proposal_phase.present? %>
          <%= format_date_range(projekt.proposal_phase.start_date, projekt.proposal_phase.end_date) %>
        <% else %>
          <%= format_date_range %>
        <% end %>
      </div>

      <div>
        <%= t("custom.admin.projekts.edit.show_in_navigation_checkbox") %>
      </div>
      <div>
        <%= projekt.show_in_navigation ? t("custom.admin.projekts.edit.show_in_navigation")[true] : t("custom.admin.projekts.edit.show_in_navigation")[false] %>
      </div>

      <div>
        <%= t("admin.geozones.index.title") %>
      </div>
      <div>
        <%= t("geozones.none") %>
      </div>

    </div>
  </td>
</tr>
