<h2><%= t("custom.admin.projekts.index.name_plural") %></h2>
<p><%= t("custom.admin.projekts.index.description") %></p>

<%= form_for(@projekt, url: admin_projekts_path, as: :projekt) do |f| %>
  <div class='small-12 medium-5'>
    <%= f.text_field :name %>
  </div>

  <div class='small-12 medium-5'>
    <% projekts = Projekt.all.to_a %>
    <%= f.select :parent_id, projekts.pluck(:name, :id), 
                 { include_blank: true, label: t('custom.admin.projekts.index.parent') } %>
  </div>

  <div>
    <%= f.submit(t("custom.admin.projekts.index.create"), class: "button success") %>
  </div>
<% end %>

<hr>

<table>
  <thead>
    <th scope="col" class="small-3"><%= t("custom.admin.projekts.index.name") %></th>
    <th scope="col" class="small-3"><%= t("custom.admin.projekts.index.parent") %></th>
    <th scope="col"><%= t("admin.actions.actions") %></th>
  </thead>
  <tbody>
  <% @projekts.each do |projekt| %>
    <%= render partial: projekt, locals: { projekt: projekt }  %>
  <% end %>
  </tbody>
</table>

<%= paginate @projekts %>
