<% if projekt_question.present? %>
  <section class="projekt-question-section js-projekt-question-section">
    <div class="projekt-question-container row">
      <div class="projekt-question-container-question-block">
        <div class="small-12 medium-8 column">
          <h3 class="quiz-question"><%= projekt_question.title %></h3>
          <div class="project-question-list js-project-question-list" id="legislation-answer-form" data-question-url="<%= projekt_projekt_question_path(projekt, projekt_question.id, format: :js) %>">
            <%= render "custom/projekts/partials/projekt_question_answer_form", projekt: projekt, projekt_question: projekt_question, projekt_answer: projekt_question_answer %>
            <%= render "custom/projekts/partials/projekt_question_particapation_not_allowed", projekt: projekt %>
          </div>
        </div>
        <div class="projekt-question-next-question-section small-12 medium-4 column quiz-header small-collapse">
          <div class="projekt-next-question-button-section">
            <% if projekt_question.previous_question_id %>
              <%= link_to projekt_projekt_question_path(projekt, projekt_question.previous_question_id, format: :js), class: "quiz-next-link js-projekt-question-next" do %>
                <div class="quiz-next">
                  <span>
                  <span class="icon-angle-left" aria-hidden="true"/>
                  </span>

                  <span>
                    <%= t("custom.projekts.projekt_questions.previous_question") %>
                  </span>
                </div>
              <% end %>
            <% end %>
            <% if projekt_question.next_question_id %>
              <%= link_to projekt_projekt_question_path(projekt, projekt_question.next_question_id, format: :js), class: "quiz-next-link js-projekt-question-next" do %>
                <div class="quiz-next">
                  <%= t("custom.projekts.projekt_questions.next_question") %>

                  <span class="icon-angle-right" aria-hidden="true"/>
                </div>
              <% end %>
            <% elsif projekt_question.first_question_id && projekt_question.first_question_id != projekt_question.id  %>
              <%= link_to projekt_projekt_question_path(projekt, projekt_question.first_question_id, format: :js), class: "quiz-next-link js-projekt-question-next" do %>
                <div class="quiz-next js-projekt-question-section-next-button">
                  <%= t("legislation.questions.show.first_question") %>

                  <span class="icon-angle-right" aria-hidden="true"/>
                </div>
              <% end %>
            <% end %>
          </div>
          <% if projekt.projekt_list_enabled? %>
            <div class='small-12 column projekt-next-to-question-list-button'>
              <%= link_to t('custom.projekts.projekt_questions.back_to_question_list'), projekt_projekt_questions_path(projekt, format: :js), class: 'js-projekt-question-next icon-angle-left' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <% if projekt_question.comments_enabled? %>
      <div class="small-12 medium-9">
        <%= render Shared::CommentsComponent.new(projekt_question, @comment_tree) %>
      <div/>
    <% end %>
  </section>
<% else %>
<% end %>
