<div class="sidebar-divider"></div>
<h2 class="sidebar-title"><%= t("custom.projekt.page.sidebar.general.title") %></h2>

<table class='sidebar'>
  <tbody>
    <tr>
      <td>
        <span class='time-icon'>
          Dauer
        </span>
      </td>
      <td>
        <%= format_date_range(projekt.total_duration_start, projekt.total_duration_end) %>
      </td>



      <% if projekt_feature?(@custom_page.projekt, "general.show_map") %>
        <tr>
          <td>
            <span class='geo-affiliation-icon'>
              Gebiet
            </span>
          </td>
          <td>
            <%= get_projekt_affiliation_name(projekt) %>
          </td>
        </tr>
      <% end %>
    <tr>
  </tbody>
</table>


<div class='projekt-phase'>
    <span class='time-icon'>
      <%= format_date_range(projekt.total_duration_start, projekt.total_duration_end) %>
    </span>
    <br>

  <% if projekt_feature?(@custom_page.projekt, "general.show_map") %>
    <span class='geo-affiliation-icon'>
      <%= get_projekt_affiliation_name(projekt) %>
    </span>
    <br>
  <% end %>
</div>
