<div class="sidebar-divider hide-for-small-only"></div>

<h2 class="sidebar-title hide-for-small-only"><%= t("custom.projekt.page.sidebar.phases.title") %></h2>

<% if projekt.debate_phase.present? && ( projekt_feature?(projekt, "general.show_not_active_phases_in_projekts_page_sidebar") || projekt_phase_active?(projekt, 'debate_phase') )  %>
  <div class='projekt-phase debate-phase hide-for-small-only'>

    <strong><%= t("custom.projekt.page.sidebar.phases.debate_phase") %></strong>
    <br>

    <% if projekt_phase_active?(projekt, 'debate_phase') %>
      <span class='time-icon'>
        <%= get_projekt_phase_duration(projekt.debate_phase) %>
      </span>
      <br>

      <% unless skip_user_verification? %>
        <span class='geo-restriction-icon'>
          <%= get_projekt_phase_restriction_name(projekt.debate_phase) %>
        </span>
        <br>
      <% end %>

      <% if !user_signed_in? || projekt.debate_phase.selectable_by?(current_user) %>
        <%= link_to new_debate_path + "?projekt=#{projekt.id}", class: 'button expanded projekt-phase-button' do %>
          <%= t("custom.projekt.page.sidebar.phases.debate_phase_button") %>
        <% end %>
      <% end %>

      <% if @most_active_debates.exists? %>
        <%= debates_overview_link( t("custom.projekt.page.sidebar.phases.debate_phase_link"), projekt, 'projekt-phase-link' ) %>
      <% end %>
    <% else %>
      <%= t('custom.projekt.page.sidebar.phases.debate_phase_not_active') %>
    <% end %>

  </div>
<% end %>

<% if projekt.proposal_phase.present? && ( projekt_feature?(projekt, "general.show_not_active_phases_in_projekts_page_sidebar") || projekt_phase_active?(projekt, 'proposal_phase') )  %>
  <div class='projekt-phase proposals-phase hide-for-small-only'>

    <strong><%= t("custom.projekt.page.sidebar.phases.proposal_phase") %></strong>
    <br>

    <% if projekt_phase_active?(projekt, 'proposal_phase') %>
      <span class='time-icon'>
        <%= get_projekt_phase_duration(projekt.proposal_phase) %>
      </span>
      <br>

      <% unless skip_user_verification? %>
        <span class='geo-restriction-icon'>
          <%= get_projekt_phase_restriction_name(projekt.proposal_phase) %>
        </span>
        <br>
      <% end %>

      <% if !user_signed_in? || projekt.proposal_phase.selectable_by?(current_user) %>
        <%= link_to new_proposal_path + "?projekt=#{projekt.id}", class: 'button expanded projekt-phase-button' do %>
          <%= t("custom.projekt.page.sidebar.phases.proposal_phase_button") %>
        <% end %>
      <% end %>

      <% if @most_active_proposals.exists? %>
        <%= proposals_overview_link( t("custom.projekt.page.sidebar.phases.proposal_phase_link"), projekt, 'projekt-phase-link' ) %>
      <% end %>
    <% else %>
      <%= t('custom.projekt.page.sidebar.phases.proposal_phase_not_active') %>
    <% end %>

  </div>
<% end %>

<% if projekt_feature?(projekt, "general.show_not_active_phases_in_projekts_page_sidebar") || related_polls(projekt).count > 0 %>
  <div class='projekt-phase voting-phase hide-for-small-only'>

    <strong><%= t("custom.projekt.page.sidebar.phases.voting_phase") %></strong>
    <br>

    <%= t("custom.projekt.page.sidebar.phases.voting_phase_active_count", count: related_polls(projekt).count) %>
    <br>

    <%if related_polls(projekt).count > 0 %>
      <%= polls_overview_link( t("custom.projekt.page.sidebar.phases.voting_phase_link"), projekt, 'button expanded projekt-phase-button' ) %>
    <% end %>

  </div>
<% end %>
