<table>
  <thead>
    <tr>
      <th><%= t("admin.settings.setting") %></th>
      <th><%= t("admin.settings.setting_status") %></th>
      <th><%= t("admin.settings.setting_actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% features.each do |feature| %>
      <tr>
        <td class="small-8">
          <strong><%= t("custom.settings.#{feature.key}") %></strong>
          <br>
          <span class="small">
            <%= t("custom.settings.#{feature.key}_description", default: t("admin.settings.no_description")) %>
          </span>
        </td>
      
        <td class="small-2">
          <% if feature.enabled? %>
            <span class="enabled">
              <strong>
                <%= t ("admin.settings.index.features.enabled") %>
              </strong>
            </span>
          <% else %>
            <span class="disabled">
              <%= t("admin.settings.index.features.disabled") %>
            </span>
          <% end %>
        </td>

        <td class="text-right">
          <%= form_for(feature, url: admin_projekt_projekt_setting_path(@projekt, feature), html: { id: "edit_#{dom_id(@projekt, feature)}" }) do |f| %>
            <%= f.hidden_field :tab, value: "#tab-projekt-settings" %>
            <%= f.hidden_field :value, id: dom_id(@projekt, feature), value: (feature.enabled? ? "" : "active") %>
            <%= f.submit(t("admin.settings.index.features.#{feature.enabled? ? "disable" : "enable"}"),
                         class: "button expanded #{feature.enabled? ? "hollow alert" : "success"}", 
                         data: { confirm: t("admin.actions.confirm") },
                         disabled: disable_feature?(@projekt, feature) ) %>
          <% end %>
        </td>
      </tr>
    <% end %>

    <% if local_assigns[:table_name] %>
      <%= render 'custom/admin/projekts/edit/projekt_settings/default_footer_tab' %>
    <% end %>
  </tbody>
</table>
