<% cache [locale_and_user_status, debate, @debate_votes[debate.id], params[:tags], params[:projekts]] do %>
  <div id="<%= dom_id(debate) %>" class="debate clear" data-type="debate">
    <div class="panel">
     <% if debate.image.present? %>
       <div class="row">
         <div class="small-12 medium-3 large-2 column text-center">
           <%= image_tag debate.image_url(:thumb),
             alt: debate.image.title.unicode_normalize %>
       </div>
     <% else %>
       <div class="row">
       <% end %>
        <div class="small-12 medium-5 large-7 column">
          <div class="debate-content">
            <h3><%= link_to debate.title, debate %></h3>
            <p class="debate-info">
              <span class="icon-comments"></span>&nbsp;
              <%= link_to t("debates.debate.comments", count: debate.comments_count), debate_path(debate, anchor: "comments") %>
              <span class="bullet">&nbsp;&bull;&nbsp;</span>
              <%= l debate.created_at.to_date %>

              <% if debate.author.hidden? || debate.author.erased? %>
                <span class="bullet">&nbsp;&bull;&nbsp;</span>
                <span class="author">
                  <%= t("debates.show.author_deleted") %>
                </span>
              <% else %>
                <span class="bullet">&nbsp;&bull;&nbsp;</span>
                <span class="author">
                  <%= debate.author.name %>
                </span>
                <% if debate.author.display_official_position_badge? %>
                  <span class="bullet">&nbsp;&bull;&nbsp;</span>
                  <span class="label round level-<%= debate.author.official_level %>">
                    <%= debate.author.official_position %>
                  </span>
                <% end %>
              <% end %>

              <% if debate.author.verified_organization? %>
                <span class="bullet">&nbsp;&bull;&nbsp;</span>
                <span class="label round is-association">
                  <%= t("shared.collective") %>
                </span>
              <% end %>

              <% if debate.projekt && debate.projekt.page.published? %>
                  <br/>
                  <span class='projekt-backlink'>
                  </span>
                  <%= link_to debate.projekt.page.title, debate.projekt.page.url %>
              <% end %>
            </p>
            <div class="debate-description">
              <%= wysiwyg(debate.description) %>
            </div>
            <%= render "shared/tags", taggable: debate, limit: 5 %>
          </div>
        </div>

        <div id="<%= dom_id(debate) %>_votes" class="small-12 medium-4 large-3 column">
            <%= render "debates/votes", debate: debate %>
        </div>

      </div>
    </div>
  </div>
<% end %>
