<% cache [locale_and_user_status, debate, @debate_votes[debate.id], debate.projekt, params[:tags], params[:projekts], params[:geozone_affiliation], params[:affiliated_geozones], params[:geozone_restriction], params[:restricted_geozones]] do %>
  <div id="<%= dom_id(debate) %>" class='row collapse resource-n debate margin-bottom' data-equalizer='main' data-equalize-on="medium">

    <div class='columns'>
      <div class='column projekt-info show-for-small-only' style="background-color:<%= debate.projekt.color %>;color:<%= pick_text_color(debate.projekt.color) %>" >
        <%= render partial: 'debates/debate/projekt_bar', locals: {debate: debate} %>
      </div>
    </div>

    <div class='columns small-12 medium-3 large-2 image-container show-for-small-only'>
      <% if debate.image.present? && !debate.image.concealed? %>
        <%= image_tag debate.image_url(:large), alt: debate.image.title.unicode_normalize %>
      <% end %>
    </div>

    <div class='columns small-12 medium-3 large-2 image-container show-for-medium' data-equalizer-watch='main'>
      <% if debate.image.present? && !debate.image.concealed? %>
        <%= image_tag debate.image_url(:thumb_wider), alt: debate.image.title.unicode_normalize %>
      <% end %>
    </div>

    <div class='columns small-12 medium-9 large-10 details' data-equalizer-watch='main'>
      <div class='column projekt-info show-for-medium' style="background-color:<%= debate.projekt.color %>;color:<%= pick_text_color(debate.projekt.color) %>" >
        <%= render partial: 'debates/debate/projekt_bar', locals: {debate: debate} %>
      </div>

      <div class='resource-info' data-equalizer='details'>
        <div class='column small-12 medium-6 large-8 resource-details' data-equalizer-watch='details'>

          <h4 class='resource-name'><%= link_to debate.title, debate %></h4>
          <div class="resource-summary margin-bottom">
            <%= wysiwyg(debate.description) %>
            <div class="truncate"></div>
          </div>
          <%= render "shared/tags", taggable: debate, limit: 5 %>

        </div>
        <div class='column small-12 medium-6 large-4 resource-participate table' data-equalizer-watch='details'>
          <div class='table-cell align-middle'>
            <div id="<%= dom_id(debate) %>_votes">
              <%= render "debates/votes", debate: debate %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
