<% voted_classes = css_classes_for_vote(@debate_votes, debate) %>

<% debate_phase = debate.projekt.present? ? debate.projekt.debate_phase : nil %>

<div class="votes">
  <div class="in-favor inline-block">
    <% if user_signed_in? %>
      <%= link_to vote_debate_path(debate, value: "yes"),
          class: "like #{voted_classes[:in_favor]}", title: t("votes.agree"), method: "post", remote: true do %>
        <span class="icon-like">
          <span class="show-for-sr"><%= t("votes.agree") %></span>
        </span>
        <span class="percentage"><%= votes_percentage("likes", debate) %></span>
      <% end %>
    <% else %>
      <div class="like">
        <span class="icon-like">
          <span class="show-for-sr"><%= t("votes.agree") %></span>
        </span>
        <span class="percentage"><%= votes_percentage("likes", debate) %></span>
      </div>
    <% end %>
  </div>

  <span class="divider"></span>

  <div class="against inline-block">
    <% if user_signed_in? %>
      <%= link_to vote_debate_path(debate, value: "no"), class: "unlike #{voted_classes[:against]}", title: t("votes.disagree"), method: "post", remote: true do %>
        <span class="icon-unlike">
          <span class="show-for-sr"><%= t("votes.disagree") %></span>
        </span>
        <span class="percentage"><%= votes_percentage("dislikes", debate) %></span>
      <% end %>
    <% else %>
      <div class="unlike">
        <span class="icon-unlike">
          <span class="show-for-sr"><%= t("votes.disagree") %></span>
        </span>
        <span class="percentage"><%= votes_percentage("dislikes", debate) %></span>
      </div>
    <% end %>
  </div>

  <span class="total-votes">
    <%= t("debates.debate.votes", count: debate.votes_for.count) %>
  </span>

  <% unless debate.votable_by?(current_user) %>
    <% if user_signed_in? && current_user.organization? %>
      <div class="participation-not-allowed" style="display:none" aria-hidden="false">
        <p>
          <%= t("votes.organizations") %>
        </p>
      </div>

    <% elsif user_signed_in? && !current_user.level_two_or_three_verified? %>
      <div class="participation-not-allowed" style="display:none" aria-hidden="false">
        <p>
          <%= sanitize(t("custom.votes.not_verified", verify_account: link_to_verify_account_short)) %>
        </p>
      </div>

    <% elsif user_signed_in? && debate_phase.present? &&
      (debate_phase.geozone_restrictions.any? && !debate_phase.geozone_restrictions.include?(current_user.geozone)) %>
      <div class="participation-not-allowed" style="display:none" aria-hidden="false">
        <p>
          <%= sanitize(t("custom.votes.geo_restricted")) %>
        </p>
      </div>

    <% elsif user_signed_in? && debate_phase.present? && !debate_phase.current? %>
      <div class="participation-not-allowed" style="display:none" aria-hidden="false">
        <p>
          <%= sanitize(t("custom.votes.debate_phase_expired")) %>
        </p>
      </div>

    <% elsif !user_signed_in? %>
      <div tabindex="0">
        <%= render "shared/login_to_vote" %>
      </div>
    <% end %>

<% end %>
</div>
