<%= content_for :body_class, "debates-show" %>

<% provide :title do %><%= @debate.title %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: debate_url(@debate) %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: debate_url(@debate),
              social_title: @debate.title,
              social_description: @debate.description,
              twitter_image_url: (@debate.image.present? ? @debate.image_url(:thumb) : nil),
              og_image_url: (@debate.image.present? ? @debate.image_url(:thumb) : nil) %>
<% end %>

  <main>
  <% cache [locale_and_user_status(@debate),
            @debate,
            @debate.author,
            Flag.flagged?(current_user, @debate),
            @debate_votes,
            @debate.projekt,
            @debate.debate_phase,
            @debate.image ] do %>

      <div class="debate-show">

        <div class="row">
          <div class="column margin-bottom">
            <%= render partial: "shared/participation/projekt_bar", locals: { resource: @debate } %>
          </div>
        </div>


        <div class='row'>
          <div class="small-12 medium-9 column">
            <h1><%= @debate.title %></h1>
          </div>
        </div>

        <div id="<%= dom_id(@debate) %>" class="row">
          <div class="small-12 medium-9 column">
            <% if @debate.conflictive? %>
              <div data-alert class="callout alert margin-top">
                <strong><%= t("debates.show.flag") %></strong>
              </div>
            <% end %>

            <% if @debate.image.present? && !@debate.image.concealed? %>
              <%= render_image(@debate.image, :large, true) %>
            <% end %>

            <%= auto_link_already_sanitized_html wysiwyg(@debate.description) %>

            <% if extended_feature?('debates.show_related_content') %>
              <%= render "relationable/related_content", relationable: @debate %>
            <% end %>
          </div>

          <aside class="small-12 medium-3 column">
            <% if current_user && @debate.editable_by?(current_user) || current_administrator? %>
              <div class="sidebar-divider"></div>
              <h2><%= t("debates.show.author") %></h2>
              <%= link_to edit_debate_path(@debate), class: "button hollow expanded" do %>
                <span class="icon-edit"></span>
                <%= t("debates.show.edit_debate_link") %>
              <% end %>
            <% end %>

            <% if current_user.present? && current_user.administrator? %>
              <div class='sidebar-divider'></div>
              <h2><%= t("custom.shared.show.admin") %></h2>
              <div class="js-moderator-debate-actions">
                <%= render "actions", debate: @debate %>
              </div>
            <% end %>

            <div class="sidebar-divider"></div>
            <h2><%= t("votes.supports") %></h2>
            <div id="<%= dom_id(@debate) %>_votes">
              <%= render "debates/votes", debate: @debate %>
            </div>

            <%= render "shared/participation/resource_info", resource: @debate %> 

            <% if extended_feature?('debates.show_report_button_in_debate_sidebar') %>
              <%= render "shared/participation/flag", resource: @debate %>
            <% end %>

            <%= render "shared/social_share",
              share_title: t("debates.show.share"),
              title: @debate.title,
              url: debate_url(@debate),
              description: @debate.title,
              mobile: @debate.title
            %>

            <% if current_user && extended_feature?('debates.show_related_content') %>
              <div class="sidebar-divider"></div>
              <h2><%= t("custom.shared.show.related_title") %></h2>
              <p><%= t("custom.shared.show.related_text") %></p>
              <div class="">
                <%= link_to '#related_content', data: {toggle: "related_content"}, id: "add-related-content", class: "button hollow expanded" do %>
                  <%= t("custom.shared.show.related_button") %>
                <% end %>
              </div>
            <% end %>

          </aside>
        </div>
      </div>
    <% end %>

    <%= render "comments" %>
  </main>
