<%= form_for [:admin, @proposal] do |f| %>

  <%= render "shared/errors", resource: @proposal %>

  <div class="row">
    <div class="small-4 column">
      <h4><%= t("admin.tags.index.topic") %></h4>
      <%Tag.category.order("name ASC").each_with_index do |t, i|%>
        <%= f.check_box "tag", {class: "tag_checkbox", label: t.name, value: t.name, id: "tag_#{t.id}", checked: @proposal.tag_list.include?(t.name) } %>
      <%end%>
    </div>
    <%-per_column = Tag.subcategory.count / 3%>
    <div class="small-8 column">
      <h4><%= t("admin.tags.index.scope") %></h4>
      <%Tag.subcategory.order("name ASC").in_groups(3, false).each do |g|%>
        <div class="small-4 column">
          <%g.each_with_index do |t, i|%>
            <%= f.check_box "tag", {class: "tag_checkbox", label: t.name, value: t.name, id: "tag_#{t.id}", checked: @proposal.tag_list.include?(t.name) } %>
          <%end%>
        </div>
      <%end%>
    </div>
  </div>
  <%=f.hidden_field :tag_list%>

  <hr>
  <%= f.check_box :selected %>

  <%= f.submit t("admin.proposals.form.update"), class: "button success" %>

<% end %>

  <script>
    function update_tags(){
      var list = []
      $(".tag_checkbox:checked").each(function(){
        list.push($(this).closest("label")[0].innerText)
      })
      $("#proposal_tag_list").val(list.join(","));

    }
    $(".tag_checkbox").on("change", function(){
      update_tags();
    })
    $(function() {
      update_tags();
    })
  </script>