<%= render "shared/globalize_locales", resource: @proposal %>

<%= translatable_form_for(@proposal, url: form_url) do |f| %>

  <%= render "shared/errors", resource: @proposal %>

  <div class="row column">
    <%= f.translatable_fields do |translations_form| %>
      <div class="small-12 column">
        <%= translations_form.text_field :title,
              maxlength: Proposal.title_max_length,
              data: { js_suggest_result: "js_suggest_result",
                      js_suggest: ".js-suggest",
                      js_url: suggest_proposals_path } %>
      </div>
      <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

      <div class="small-12 column">
        <%= translations_form.text_area :summary,
                                        rows: 4, maxlength: 200,
                                        hint: t("proposals.form.proposal_summary_note") %>
      </div>

      <div class="small-12 column">
        <%= translations_form.text_area :description,
                                        maxlength: Proposal.description_max_length,
                                        class: "html-area" %>
      </div>
    <% end %>

    <%= f.invisible_captcha :subtitle %>

    <div class="small-12 column">
      <%= f.text_field :video_url, hint: t("proposals.form.proposal_video_url_note") %>
    </div>

    <% if feature?(:allow_images) %>
      <div class="images small-12 column">
        <%= render "images/nested_image", imageable: @proposal, f: f %>
      </div>
    <% end %>

    <% if feature?(:allow_attached_documents) %>
      <div class="documents small-12 column">
        <%= render "documents/nested_documents", documentable: @proposal, f: f %>
      </div>
    <% end %>

    <div class="small-12 medium-6 column">
      <%= f.select :geozone_id, geozone_select_options,
        include_blank: t("geozones.none") %>
    </div>

    <% if feature?(:map) %>
      <div class="small-12 column">

        <%= render "map_locations/form_fields",
                   form:     f,
                   map_location: @proposal.map_location || MapLocation.new,
                   label:    t("proposals.form.map_location"),
                   help:     t("proposals.form.map_location_instructions"),
                   remove_marker_label: t("proposals.form.map_remove_marker"),
                   parent_class: "proposal",
                   i18n_namespace: "proposals" %>

      </div>
    <% end %>

    <%tags = !params[:tags].blank? ? params[:tags]&.map{|t| Tag.find_by(name: t)} : @proposal.tags %>

    <%tag_list_o = @proposal.new_record? && @proposal.errors.empty? ? tags : @proposal.tags%>
    <%tag_list = @proposal.new_record? && @proposal.errors.empty? ? tags.map(&:name).join(",") : @proposal.tag_list.to_s%>
    <%categories = tag_list_o.select { |t| t.kind == 'category' }%>
    <%subcategories = tag_list_o.select { |t| t.kind == 'subcategory' }%>

    <div class="small-12 column">
      <%if Proposal::MANAGE_CATEGORIES & Proposal::TAGS_CLOUD > 0%>
        <div id="category_tags" class="tags">
          <%= f.label :category_tag_list, t("proposals.form.tag_category_label") %>
          <% @categories.each do |tag| %>
            <a class="js-add-tag-link category-tag"><%= tag.name %></a>
          <% end %>
        </div>
      <%end%>
      <%if Proposal::MANAGE_CATEGORIES & Proposal::TAGS_CUSTOM > 0%>
        <%= f.text_field :tag_list_categories, value: categories.map{|c| c.name}.join(","),
          label: t("debates.form.tags_categories"),
          placeholder: t("debates.form.tags_placeholder"),
          data: { js_url: suggest_tags_path },
          class: "js-tag-list tag-autocomplete list-categories" %>
      <%elsif (Proposal::MANAGE_CATEGORIES | 3) > 0%>
        <%=f.hidden_field :tag_list_categories, value: categories.map(&:name).join(","), class: "js-tag-list list-categories"%>
      <%end%>
    </div>
    <div class="small-12 column">
      <%if Proposal::MANAGE_SUBCATEGORIES & Proposal::TAGS_CLOUD > 0%>
        <%@subcategories = Tag.subcategory.order(:name) %>
        <br>
        <div id="category_tags" class="tags">
          <%= f.label :category_tag_list, t("proposals.form.tag_subcategory_label") %>
          <% @subcategories.each do |tag| %>
            <a class="js-add-tag-link subcategory-tag"><%= tag.name %></a>
          <% end %>
        </div>
      <%end%>
      <%if Proposal::MANAGE_SUBCATEGORIES & Proposal::TAGS_CUSTOM > 0%>
        <%= f.text_field :tag_list_subcategories, value: subcategories.map{|c| c.name}.join(","),
          label: t("debates.form.tags_subcategories"),
          placeholder: t("debates.form.tags_placeholder"),
          data: { js_url: suggest_tags_path },
          class: "js-tag-list tag-autocomplete list-subcategories" %>
      <%elsif (Proposal::MANAGE_SUBCATEGORIES | 3) > 0%>
        <%=f.hidden_field :tag_list_subcategories, value: subcategories.map(&:name).join(","), class: "js-tag-list list-subcategories"%>
      <%end%>
    </div>
    <%if Proposal::MANAGE_SUBCATEGORIES | Proposal::MANAGE_CATEGORIES == 1%>
      <div class="small-12 column">
        <%=f.hidden_field :tag_list, value: tags.map(&:name).join(",")%>
      </div>
    <%end%>

    <% if current_user.unverified? %>
      <div class="small-12 column">
        <%= f.text_field :responsible_name,
          hint: t("proposals.form.proposal_responsible_name_note") %>
      </div>
    <% end %>

    <div class="small-12 column">
      <% if @proposal.new_record? %>
        <%= f.check_box :terms_of_service,
          title: t("form.accept_terms_title"),
          label: t("form.accept_terms",
                   policy: link_to(t("form.policy"), "/privacy", target: "blank"),
                   conditions: link_to(t("form.conditions"), "/conditions", target: "blank")
                  ) %>
      <% end %>
    </div>

    <div class="actions small-12 column">
      <%= f.submit(class: "button", value: t("proposals.#{action_name}.form.submit_button")) %>
    </div>
  </div>
<% end %>