<%= render "shared/globalize_locales", resource: @proposal %>

<%= translatable_form_for(@proposal, url: form_url) do |f| %>

  <%= render "shared/errors", resource: @proposal %>

  <div class="row column">
    <%= f.translatable_fields do |translations_form| %>
      <div class="small-12 column">
        <%= translations_form.text_field :title,
              maxlength: Proposal.title_max_length,
              data: suggest_data(@proposal) %>
      </div>
      <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

      <% if feature?(:allow_images) %>
        <div class="images small-12 column">
          <%= render "images/nested_image", imageable: @proposal, f: f %>
        </div>
      <% end %>

      <div class="small-12 column">
        <%= translations_form.text_area :summary,
                                        rows: 4, maxlength: 200,
                                        hint: t("proposals.form.proposal_summary_note") %>
      </div>

      <div class="small-12 column">
        <%= translations_form.label :description, nil, class: label_error_class?(:description) %>
        <%= translations_form.text_area :description,
                                        maxlength: Proposal.description_max_length,
                                        class: "html-area #{ck_editor_class(current_user)}",
                                        label: false %>
        <% if error_text(:description).present? %>
          <small class='form-error is-visible'><%= error_text(:description) %></small>
        <% end %>
      </div>
    <% end %>

    <%= f.invisible_captcha :subtitle %>

    <div class="small-12 column">
      <%= f.text_field :video_url, hint: t("proposals.form.proposal_video_url_note") %>
    </div>

    <% if feature?(:allow_attached_documents) %>
      <div class="documents small-12 column">
        <%= render "documents/nested_documents", documentable: @proposal, f: f %>
      </div>
    <% end %>

    <!--
      <div class="small-12 medium-6 column">
        <% f.select :geozone_id, geozone_select_options,
          include_blank: t("geozones.none") %>
      </div>
    -->

    <div class="small-12 column margin-top">
      <%= render partial: "shared/projekt_selector/projekt_selector", locals: { f: f, model: @proposal }  %>
    </div>

    <div class="small-12 column <%= show_map_in_form?(@selected_projekt) %>" id='map-for-new-proposal'>

      <%= render "map_locations/form_fields",
                 form:     f,
                 map_location: @proposal.map_location || filtered_projekt&.map_location || MapLocation.new,
                 label:    t("proposals.form.map_location"),
                 help:     t("proposals.form.map_location_instructions"),
                 remove_marker_label: t("proposals.form.map_remove_marker"),
                 parent_class: "proposal",
                 i18n_namespace: "proposals" %>

    </div>

    <%if extended_feature?("enable_categories") %>
      <div class="small-12 column margin-bottom">
        <%if @categories.any? %>
          <div id="category_tags" class="tags">
            <%= f.label :category_tag_list, t("proposals.form.tag_category_label") %>
            <% @categories.each do |tag| %>
              <a class="js-add-tag-link category-tag"><%= tag.name %></a>
            <% end %>
          </div>
        <%end%>
      </div>
      <%=f.hidden_field :tag_list_predefined, value: @proposal.tags.reject{|t| !['category'].include?(t.kind)}.map(&:name).join(","), class: "js-tag-list list-tags predefined"%>
    <%end%>

    <%if extended_feature?("enable_custom_tags") %>
      <div class="small-12 column margin-bottom">
        <%= f.text_field :tag_list_custom, value: @proposal.tags.where(kind: nil).map{|c| c.name}.join(","),
          label: t("custom.proposals.form.tags_custom"),
          placeholder: t("custom.proposals.form.tags_placeholder"),
          data: { js_url: suggest_tags_path },
          class: "tag-autocomplete list-categories" %>
      </div>
    <%end%>

    <% if current_user.unverified? %>
      <div class="small-12 column">
        <%= f.text_field :responsible_name,
          hint: t("proposals.form.proposal_responsible_name_note") %>
      </div>
    <% end %>

    <%= render SDG::RelatedListSelectorComponent.new(f) %>

    <div class="small-12 column">
      <% if @proposal.new_record? %>
        <%= f.check_box :terms_of_service,
          title: t("form.accept_terms_title"),
          label: t("form.accept_terms",
                   policy: link_to(t("form.policy"), "/privacy", target: "blank"),
                   conditions: link_to(t("form.conditions"), "/conditions", target: "blank")
                  ) %>
      <% end %>
    </div>

    <div class="actions small-12 column">
      <%= f.submit(class: "button", value: t("proposals.#{action_name}.form.submit_button")) %>
    </div>
  </div>
<% end %>
