<% if feature?(:map) && map_location_available?(@proposal.map_location) %>
  <div class="margin">
    <%= render_map(@proposal.map_location, "proposal", false, nil, MapLocation.where(proposal_id: @proposal.id).map(&:json_data)) %>
  </div>
<% end %>

<blockquote><%= @proposal.summary %></blockquote>

<% if @proposal.image.present? && ( !@proposal.image.concealed? || params[:controller] == 'admin/proposals' ) %>
  <div class="image">
    <%= render_image(@proposal.image, :large, true) %>
  </div>
<% end %>

<% if @proposal.image.present? && params[:controller] == 'admin/proposals' %>
  <div class='column'>
    <%= link_to admin_proposal_toggle_image_path(@proposal), method: :patch, class: 'button hollow' do %>
      <% @proposal.image.concealed ? "Bild einblenden" : "Bild ausblenden" %>
    <% end %>
    <hr>
  </div>
<% end %>

<div class='margin-bottom'>
  <h5><%= t('custom.proposals.show.description')  %></h5>
  <%= auto_link_already_sanitized_html wysiwyg(@proposal.description) %>
</div>

<% if @proposal.video_url.present? %>
  <div class="small-12 medium-7 small-centered">
    <div class="flex-video">
      <div id="js-embedded-video" data-video-code="<%= embedded_video_code(@proposal) %>"></div>
    </div>
  </div>
<% end %>

<% if @proposal.video_url.present? %>
  <div class="video-link">
    <p>
      <span class="icon-video"></span>&nbsp;
      <strong><%= t("proposals.show.title_video_url") %></strong>
    </p>
    <%= sanitize_and_auto_link @proposal.video_url %>
  </div>
<% end %>

<% if @proposal.retired? %>
  <div id="retired_explanation" class="callout">
    <h2>
      <%= t("proposals.show.retired") %>:
      <%= t("proposals.retire_options.#{@proposal.retired_reason}") unless @proposal.retired_reason == "other" %>
    </h2>
    <%= simple_format sanitize_and_auto_link(@proposal.retired_explanation), {}, sanitize: false %>
  </div>
<% end %>

<% if feature?(:allow_attached_documents) %>
  <%= render "documents/documents",
              documents: @proposal.documents,
              max_documents_allowed: Proposal.max_documents_allowed %>
<% end %>

<%= render "shared/tags", taggable: @proposal %>
