<div class="sidebar-divider"></div>
<h2><%= t("custom.proposals.show.information") %></h2>


<div class='resource-info'>
  <div class='resource-info-author'>
    <%= link_to proposal.author.username, proposal.author %>
  </div>

  <div class='resource-info-date'>
    <%= proposal.created_at.strftime("%d. %B %Y") %>
  </div>

  <div class='resource-info-comments'>
    <%= link_to "#comments" do %>
      <%= t("custom.shared.show.comments", count: proposal.comments.count) %>
    <% end %>
  </div>

  <div class='resource-info-entry-code'>
    <%= t("proposals.show.code") %>
    <br>
    <%= @proposal.code %>
  </div>
</div>
