<% proposal_phase = proposal.projekt.present? ? proposal.projekt.proposal_phase : nil %>

<div class="supports text-center">

  <div class="in-favor">
    <% if user_signed_in? && proposal_phase && proposal_phase.expired? %>
      <div class="supported callout warning">
          <%= sanitize(t("custom.votes.proposal_phase_expired")) %>
      </div>

    <% elsif voted_for?(@proposal_votes, proposal) %>
      <div class="supported callout success">
        <%= t("proposals.proposal.already_supported") %>
      </div>
      <% if withdraw_proposal_support_on? %>
        <%= link_to unvote_proposal_url(proposal),
            class: "button button-support small expanded",
            title: t("proposals.proposal.support_title"), method: "post", remote: true do %>
          <%= t("custom.proposals.proposal.unsupport") %>
        <% end %>
      <% end %>

    <% elsif user_signed_in? && proposal.votable_by?(current_user) %>
      <%= link_to vote_url,
          class: "button button-support small expanded",
          title: t("proposals.proposal.support_title"), method: "post", remote: true do %>
        <%= t("custom.proposals.proposal.support") %>
      <% end %>

    <% else %>
      <div class="button button-support small expanded">
        <%= t("proposals.proposal.support") %>
      </div>
    <% end %>
  </div>

  <% unless proposal.votable_by?(current_user) %>
    <% if user_signed_in? && current_user.organization? %>
      <div class="participation-not-allowed" style="display:none" aria-hidden="false">
        <p>
          <%= t("votes.organizations") %>
        </p>
      </div>

    <% elsif user_signed_in? && !current_user.level_two_or_three_verified?  %>
      <div class="participation-not-allowed" style="display:none" aria-hidden="false">
        <p>
          <%= sanitize(t("custom.votes.not_verified", verify_account: link_to_verify_account_short)) %>
        </p>
      </div>

    <% elsif user_signed_in? && proposal_phase &&
      (proposal_phase.geozone_restrictions.any? && !proposal_phase.geozone_restrictions.include?(current_user.geozone)) %>
      <div class="participation-not-allowed" style="display:none" aria-hidden="false">
        <p>
          <%= sanitize(t("custom.votes.geo_restricted")) %>
        </p>
      </div>

    <% elsif !user_signed_in? %>
      <div tabindex="0">
        <%= render "shared/login_to_vote" %>
      </div>
    <% end %>
  <% end %>

  <%= render "proposals/supports", proposal: proposal %>

  <% if voted_for?(@proposal_votes, proposal) && setting["twitter_handle"] %>
    <div class="share-supported">
      <%= render "proposals/social_share", proposal: proposal, share_title: false %>
    </div>
  <% end %>
</div>
