<div class="proposal-form row">

  <div class="small-12 medium-9 column">
    <%= back_link_to %>

    <h1>
      <%if (Proposal::MANAGE_CATEGORIES | Proposal::MANAGE_SUBCATEGORIES) & Proposal::TAGS_PREDEFINED > 0 %>
        <%= t("proposals.new.start_new_in", category: Tag.find_by(name: params[:tags])&.name) %>
      <%else%>
        <%= t("proposals.new.start_new") %>
      <%end%>
    </h1>

    <div data-alert class="callout primary">
      <%= link_to help_path(anchor: "proposals"), title: t("shared.target_blank"), target: "_blank" do %>
        <%= t("proposals.new.more_info") %>
      <% end %>
    </div>
    <%= render "proposals/form", form_url: proposals_path %>
  </div>

  <div class="small-12 medium-3 column">
    <span class="icon-proposals float-right"></span>
    <h2><%= t("proposals.new.recommendations_title") %></h2>
    <ul class="recommendations">
      <li><%= t("proposals.new.recommendation_one") %></li>
      <li><%= t("proposals.new.recommendation_two") %></li>
      <li><%= t("proposals.new.recommendation_three") %></li>
    </ul>
  </div>
</div>