<%= content_for :body_class, "proposals-show" %>
<% preview = false unless local_assigns.has_key? :preview %>
<% provide :title do @proposal.title end %>
<% content_for :meta_description do %><%= @proposal.summary %><% end %>
<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: proposal_url(@proposal),
              social_title: @proposal.title,
              social_description: @proposal.summary,
              twitter_image_url: (@proposal.image.present? ? @proposal.image_url(:thumb) : nil),
              og_image_url: (@proposal.image.present? ? @proposal.image_url(:thumb) : nil) %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposal_url(@proposal) %>
<% end %>

<main>
  <% cache [locale_and_user_status(@proposal),
            @proposal,
            @proposal.author,
            Flag.flagged?(current_user, @proposal),
            @proposal_votes,
            @proposal.projekt,
            @proposal.proposal_phase,
            @proposal.image] do %>
    <div class="proposal-show">

      <% unless action_name == 'created' %>
        <div class="row">
          <div class="column margin-bottom">
            <%= render partial: "proposals/proposal/projekt_bar", locals: { proposal: @proposal } %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="small-12 medium-9 column">
          <h1><%= @proposal.title %></h1>
        </div>
      </div>
      <div id="<%= dom_id(@proposal) %>" class="row">
        <div class="small-12 medium-9 column">
          <% if @proposal.retired? %>
            <div data-alert class="callout alert margin-bottom proposal-retired">
              <strong>
                <%= t("proposals.show.retired_warning") %><br>
                <%= link_to t("proposals.show.retired_warning_link_to_explanation"),
                            "#retired_explanation" %>
              </strong>
            </div>
          <% elsif @proposal.conflictive? %>
            <div data-alert class="callout alert margin-bottom">
              <strong><%= t("proposals.show.flag") %></strong>
            </div>
          <% end %>

          <%= render "proposals/info", proposal: @proposal %>

          <% if !@proposal.selected? && extended_feature?('proposals.show_related_content') %>
            <%= render "relationable/related_content", relationable: @proposal %>
          <% end %>
        </div>

        <% unless preview %>
          <aside class="small-12 medium-3 column">

            <% if can?(:dashboard, @proposal) %>
              <div class="sidebar-divider"></div>
              <h2><%= t("proposals.show.author") %></h2>

              <div class="show-actions-menu">
                <%= link_to progress_proposal_dashboard_path(@proposal),
                            class: "button hollow expanded",
                            id: "proposal-dashboard-#{@proposal.id}" do %>
                  <span class="icon-edit"></span>
                  <%= t("proposals.show.dashboard_proposal_link") %>
                <% end %>

                <% if current_editable?(@proposal) %>
                  <%= link_to t("dashboard.index.edit_proposal_link"),
                              edit_proposal_path(@proposal),
                              target: "_blank",
                              class: "button hollow expanded" %>
                <% end %>
              </div>
            <% end %>

            <% if can?(:publish, @proposal) %>
              <%= link_to t("dashboard.index.publish"),
                          publish_proposal_path(@proposal),
                          class: "button hollow expanded",
                          method: :patch %>
            <% end %>

            <% if current_user.present? && current_user.administrator? %>
              <div class="sidebar-divider"></div>
              <h2><%= t("custom.shared.show.admin") %></h2>

              <div class="js-moderator-proposal-actions">
                <%= render "proposals/actions", proposal: @proposal %>
              </div>
            <% end %>

            <%= render "proposals/support_status", proposal: @proposal %>

            <%= render "proposals/proposal_info", proposal: @proposal %>

            <% if extended_feature?('proposals.show_report_button_in_proposal_sidebar') %>
              <%= render "proposals/flag", proposal: @proposal %>
            <% end %>

            <%= render "proposals/social_share", proposal: @proposal, share_title: t("proposals.show.share") %>

            <% if current_user && extended_feature?('proposals.show_follow_button_in_proposal_sidebar') %>
              <div class="sidebar-divider"></div>
              <h2><%= t("shared.follow") %></h2>
              <P><%= t("custom.shared.show.follow_text") %></p>
              <%= render "follows/follow_button", follow: find_or_build_follow(current_user, @proposal) %>
            <% end %>

            <% if extended_feature?('proposals.show_community_button_in_proposal_sidebar') %>
              <%= render "communities/access_button", community: @proposal.community %>
            <% end %>

            <% if current_user && extended_feature?('proposals.show_related_content') %>
              <div class="sidebar-divider"></div>
              <h2><%= t("custom.shared.show.related_title") %></h2>
              <p><%= t("custom.shared.show.related_text") %></p>
              <div class="">
                <%= link_to '#related_content', data: {toggle: "related_content"}, id: "add-related-content", class: "button hollow expanded" do %>
                  <%= t("custom.shared.show.related_button") %>
                <% end %>
              </div>
            <% end %>

          </aside>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless preview %>
    <div class="additional-content">
      <div class="filter-subnav">
        <div class="row">
          <div class="small-12 column">
            <%= render "proposals/filter_subnav" %>
          </div>
        </div>
      </div>
    </div>

    <div class="tabs-content" data-tabs-content="proposals_tabs">
      <div class="tabs-panel is-active" id="tab-comments">
        <%= render "proposals/comments" %>
      </div>

      <% if extended_feature?('proposals.enable_proposal_notifications_tab') %>
        <%= render "proposals/notifications" %>
      <% end %>

      <% if extended_feature?('proposals.enable_proposal_milestones_tab') %>
        <%= render "milestones/milestones", milestoneable: @proposal %>
      <% end %>
    </div>
  <% end %>
</main>
