<div class='participation-stats'>
  <%= render "shared/stats/participation", stats: @stats %>
  <%= render "budgets/stats/advanced_stats", stats: @stats if @stats.advanced? %>
</div>

<div class="row margin participation-stats">
  <div class="small-12 column">
    <div id="total_no_demographic_data">
      <p class="help-text">
        <%= t("stats.no_demographic_data", count: @stats.total_no_demographic_data) %>
      </p>
      <p class="help-text">
          <%= t("stats.budgets.participatory_disclaimer") %>
      </p>
      <p class="help-text">
          <%= t("stats.budgets.heading_disclaimer") %>
      </p>
    </div>
  </div>
</div>
