<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
            social_url: budget_investments_path(investment),
            social_title: investment.title,
            social_description: investment.description,
            twitter_image_url: (investment.image.present? ? investment.image_url(:thumb) : nil),
            og_image_url: (investment.image.present? ? investment.image_url(:thumb) : nil) %>
<% end %>

<% cache [locale_and_user_status(investment),
          investment,
          investment.author,
          Flag.flagged?(current_user, investment),
          extended_feature?('budget_investments.show_report_button_in_sidebar'),
          extended_feature?('budget_investments.show_follow_button_in_sidebar'),
          extended_feature?('budget_investments.show_community_button_in_sidebar'),
          extended_feature?('budget_investments.show_related_content'),
          projekt_feature?(investment.projekt, 'budgets.show_user_cost_estimate'),
          investment.followed_by?(current_user),
          feature?(:remove_investments_supports),
          current_user&.voted_for?(investment)] do %>
  <section class="budget-investment-show" id="<%= dom_id(investment) %>">

    <div class="row">
      <div class="column margin-bottom">
        <%= render partial: "shared/participation/projekt_bar", locals: { resource: investment } %>
      </div>

      <div class="column">
        <h1><%= investment.title %></h1>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-9 column">
        <%= render "/budgets/investments/investment_detail", investment: investment %>
      </div>

      <aside class="small-12 medium-3 column">

        <% if current_user.present? && current_user.administrator? %>
          <div class="sidebar-divider"></div>
          <h2><%= t("custom.shared.show.admin") %></h2>

          <div class="">
            <%= render "budgets/investments/actions", investment: investment %>
          </div>
        <% end %>

        <%= render "/budgets/investments/author_actions", investment: investment %>

        <% if investment.should_show_aside? %>
          <% if investment.should_show_votes? %>
            <div class="sidebar-divider"></div>
            <h2><%= t("budgets.investments.show.supports") %></h2>
            <div class="text-center">
              <div id="<%= dom_id(investment) %>_votes">
                <%= render Budgets::Investments::VotesComponent.new(investment) %>
              </div>
            </div>
          <% elsif investment.should_show_vote_count? %>
            <div class="sidebar-divider"></div>
            <h2><%= t("budgets.investments.show.supports") %></h2>
            <div class="text-center">
              <span class="total-supports">
                <strong>
                  <%= t("budgets.investments.investment.supports",
                      count: investment.total_votes) %>
                </strong>
              </span>
            </div>
          <% elsif investment.should_show_ballots? %>
            <div class="sidebar-divider"></div>
            <h2><%= t("budgets.investments.show.votes") %></h2>
            <div class="text-center">
              <div id="<%= dom_id(investment) %>_ballot">
                <%= render "ballot",
                  investment: investment,
                  investment_ids: investment_ids,
                  ballot: ballot %>
              </div>
            </div>
          <% end %>
        <% end %>

        <% if investment.unfeasible? && investment.valuation_finished? %>
          <div class="callout warning">
            <%= sanitize(t("budgets.investments.show.project_unfeasible")) %>
          </div>
        <% elsif investment.winner? && @budget.finished? %>
          <div class="callout success">
            <strong><%= t("budgets.investments.show.project_winner") %></strong>
          </div>
        <% elsif investment.selected? %>
          <div class="callout success">
            <%= sanitize(t("budgets.investments.show.project_selected")) %>
          </div>
        <% elsif @budget.balloting_or_later? %>
          <div class="callout warning">
            <%= sanitize(t("budgets.investments.show.project_not_selected")) %>
          </div>
        <% end %>

        <% if @budget.phase.in?(['accepting', 'reviewing', 'valuating', 'reviewing_ballots']) %>
          <div class="callout warning">
            <%= t("custom.budgets.investments.statuses.phases.#{investment.budget.phase}") %>
          </div>
        <% end %>

        <% if investment.should_show_price? %>
          <div class="sidebar-divider"></div>
          <h2><%= t("budgets.investments.show.price") %></h2>
          <div class="supports text-center">
            <p class="investment-project-amount">
              <%= investment.formatted_price %>
            </p>
          </div>
          <% if investment.should_show_price_explanation? %>
            <div class="text-center" data-magellan>
              <%= link_to t("budgets.investments.show.see_price_explanation"),
                            "#price_explanation", class: "small" %>
            </div>
          <% end %>
        <% end %>

        <%= render "shared/participation/resource_info", resource: investment %>

        <% if extended_feature?('budget_investments.show_report_button_in_sidebar') %>
          <%= render "shared/participation/flag", resource: investment %>
        <% end %>

        <%= render "shared/social_share",
          share_title: t("budgets.investments.show.share"),
          title: investment.title,
          image_url: image_absolute_url(investment.image, :thumb),
          url: budget_investment_url(investment.budget, investment),
          description: t("budgets.investments.share.message",
                          title: investment.title,
                          handle: setting["org_name"]),
          mobile: t("budgets.investments.share.message",
                     title: investment.title,
                     handle: setting["twitter_handle"]) %>

        <% if current_user && extended_feature?('budget_investments.show_follow_button_in_sidebar') %>
          <div class="sidebar-divider"></div>
          <p class="sidebar-title"><%= t("shared.follow") %></p>

          <%= render "follows/follow_button", follow: find_or_build_follow(current_user, investment) %>
        <% end %>

        <% if current_user && extended_feature?('budget_investments.show_community_button_in_sidebar') %>
          <%= render "communities/access_button", community: investment.community %>
        <% end %>

        <% if current_user && extended_feature?('budget_investments.show_related_content') %>
          <div class="sidebar-divider"></div>
          <h2><%= t("custom.shared.show.related_title") %></h2>
          <p><%= t("custom.shared.show.related_text") %></p>
          <div class="">
            <%= link_to '#related_content', data: {toggle: "related_content"}, id: "add-related-content", class: "button hollow expanded" do %>
              <%= t("custom.shared.show.related_button") %>
            <% end %>
          </div>
        <% end %>

       </aside>
    </div>
  </section>
<% end %>
