<div class="tabs-panel  <%= active_tab_in_projekt_footer?(projekt, 'footer.show_activity_in_projekt_footer') %>" id="tab-activities">

  <div class="most-active-resources row">
    <div class="column">
      <div class="tabs-content" data-tabs-content="projekt-activity-tabs">

        <ul class="tabs"
            id="projekt-activity-tabs"
            data-deep-link="true"
            data-update-history="true"
            data-deep-link-smudge="true"
            data-deep-link-smudge-delay="500"
            data-tabs>

          <% if show_projekt_phase_in_projekt_page?(projekt, 'debate_phase') %>
            <li class="tabs-title <%= active_tab_in_activity?(projekt, 'debates') %>" id="projekt-most-active-debates-tab">
              <%= link_to "#tab-projekt-most-active-debates" do %>
                <%= t("custom.projekt.footer.show.most_active_debates") %>
              <% end %>
            </li>
          <% end %>

          <% if show_projekt_phase_in_projekt_page?(projekt, 'proposal_phase') %>
            <li class="tabs-title <%= active_tab_in_activity?(projekt, 'proposals') %>" id="projekt-most-active-proposals-tab">
              <%= link_to "#tab-projekt-most-active-proposals" do %>
                <%= t("custom.projekt.footer.show.most_active_proposals") %>
              <% end %>
            </li>
          <% end %>

          <% if projekt_feature?(projekt, "general.show_not_active_phases_in_projekts_page_sidebar") || related_polls(projekt).count > 0 %>
            <li class="tabs-title <%= active_tab_in_activity?(projekt, 'polls') %>" id="projekt-latest-polls-tab">
              <%= link_to "#tab-projekt-latest-polls" do %>
                <%= t("custom.projekt.footer.show.latest_polls") %>
              <% end %>
            </li>
          <% end %>
        </ul>


        <div class="tabs-panel <%= active_tab_in_activity?(projekt, 'proposals') %>" id="tab-projekt-most-active-proposals">
          <% if projekt_phase_active?(projekt, 'proposal_phase') %>

            <% if projekt_feature?(projekt, "general.show_map") %>
              <div class="row">
                <div class="column">
                  <div class="map inline" id='projekt-map'>
                    <%= render_map(projekt.map_location, "proposals", false, nil, @proposals_coordinates) %>
                  </div>

                  <div class='expand-proposals-overview-map small js-expand-proposals-overview-map'>
                    <%= t('custom.proposals.index.show_larger_map') %>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>

              <div class="no-bullet margin-top">
              </div>
            <% end %>

            <div class="row">
              <% if projekt_phase_selectable?(projekt, 'proposal_phase') %>
                <div class="column medium-3">
                  <%= link_to new_proposal_path + "?projekt=#{projekt.id}", class: 'button expanded' do %>
                    <%= t("custom.projekt.page.sidebar.phases.proposal_phase_button") %>
                  <% end %>
                </div>
              <% elsif projekt_phase_not_started_yet?(projekt, 'proposal_phase') %>
                <div class="column">
                  <%= t('custom.projekt.footer.show.proposal_phase_not_started') %>
                </div>
              <% elsif projekt_phase_expired?(projekt, 'proposal_phase') %>
                <div class="column">
                  <%= t('custom.projekt.footer.show.proposal_phase_expired') %>
                </div>
              <% end %>
            </div>

            <% if @most_active_proposals.empty? && projekt_phase_selectable?(projekt, 'proposal_phase') %>
              <%= t("custom.projekt.footer.show.no_proposals") %>
            <% elsif @most_active_proposals.exists? %>
              <%= render partial: "proposals/proposal", collection: @most_active_proposals %>
              <%= link_to proposals_path + "?projekts=#{projekt.all_children_ids.push(projekt.id).join(',')}", class: 'all-projekt-resources-link' do %>
                <%= t("custom.projekt.page.sidebar.phases.proposal_phase_link") %>
              <% end %>
            <% end %>

          <% else %>
            <%= t('custom.projekt.page.sidebar.phases.proposal_phase_not_active') %>
          <% end %>
        </div>


        <div class="tabs-panel <%= active_tab_in_activity?(projekt, 'debates') %>" id="tab-projekt-most-active-debates">
          <% if projekt_phase_active?(projekt, 'debate_phase') %>

            <div class="row">
              <% if projekt_phase_selectable?(projekt, 'debate_phase') %>
                <div class="column medium-3">
                  <%= link_to new_debate_path + "?projekt=#{projekt.id}", class: 'button expanded' do %>
                    <%= t("custom.projekt.page.sidebar.phases.debate_phase_button") %>
                  <% end %>
                </div>
              <% elsif projekt_phase_not_started_yet?(projekt, 'debate_phase') %>
                <div class="column">
                  <%= t('custom.projekt.footer.show.debate_phase_not_started') %>
                </div>
              <% elsif projekt_phase_expired?(projekt, 'debate_phase') %>
                <div class="column">
                  <%= t('custom.projekt.footer.show.debate_phase_expired') %>
                </div>
              <% end %>
            </div>

            <% if @most_active_debates.empty? && projekt_phase_selectable?(projekt, 'debate_phase') %>
              <%= t("custom.projekt.footer.show.no_debates") %>
            <% elsif @most_active_debates.exists? %>
              <%= render partial: "debates/debate", collection: @most_active_debates %>
              <%= link_to debates_path + "?projekts=#{projekt.all_children_ids.push(projekt.id).join(',')}", class: 'all-projekt-resources-link' do %>
                <%= t("custom.projekt.page.sidebar.phases.debate_phase_link") %>
              <% end %>
            <% end %>

          <% else %>
            <%= t('custom.projekt.page.sidebar.phases.debate_phase_not_active') %>
          <% end %>
        </div>


        <div class="tabs-panel <%= active_tab_in_activity?(projekt, 'polls') %>" id="tab-projekt-latest-polls">

          <% if @latest_polls.exists? %>
            <%= render partial: "polls/poll_group", locals: { poll_group: @latest_polls } %>
            <%= link_to polls_path + "?projekts=#{projekt.all_children_ids.push(projekt.id).join(',')}", class: 'all-projekt-resources-link' do %>
              <%= t("custom.projekt.page.sidebar.phases.voting_phase_link") %>
            <% end %>
          <% else %>
            <%= t("custom.projekt.footer.show.no_polls") %>
          <% end %>
        </div>


      </div>
    </div>
  </div>

</div>
