<div class="tabs-panel is-active" id="tab-activities">


  <div class="row">
    <div class="column">
      <div class="map inline" id='projekt-map'>
        <%= render_map(@custom_page.projekt.map_location, "proposals", false, nil, @proposals_coordinates) %>
      </div>

      <div class='expand-proposals-overview-map small js-expand-proposals-overview-map'>
        <%= t('custom.proposals.index.show_larger_map') %>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="no-bullet margin-top">
  </div>


  <div class="row">
    <div class="column small-12 medium-9">
      <h2><%= t('custom.projekt.footer.show.most_active_proposals') %></h2>
      <%= render partial: "proposals/proposal", collection: @most_active_proposals %>

      <h2 class='title'><%= t('custom.projekt.footer.show.most_active_debates') %></h2>
      <%= render partial: "debates/debate", collection: @most_active_debates %>
    </div>
  </div>


</div>
