<%= render 'shared/loader_spinner' %>

<%= render Pages::Projekts::BudgetsTabComponent.new(@budget, @ballot, current_user) %>

<div class='row'>
  <div id='budgets-sidebar' class='small-12 medium-3 column'>
    <aside class='margin-bottom' id='sidebar'>

      <% if can?(:create, Budget::Investment.new(budget: @budget)) %>
        <% if current_user %>
          <% if current_user.level_two_or_three_verified? %>
            <%= link_to t("budgets.investments.index.sidebar.create"),
                        new_budget_investment_path(@budget, origin: 'projekt'),
                        class: "button expanded" %>
          <% else %>
            <div class="callout warning">
              <%= sanitize(t("budgets.investments.index.sidebar.verified_only",
                    verify: link_to_verify_account)) %>
            </div>
          <% end %>
        <% else %>
          <div class="callout primary">
            <%= sanitize(t("budgets.investments.index.sidebar.not_logged_in",
                  sign_in: link_to_signin, sign_up: link_to_signup)) %>
          </div>
        <% end %>
      <% end %>

      <%= render_custom_block "budget_#{@budget.id}_phase_#{@budget.current_phase.id}_info" %>

      <%= render 'pages/projekt_footer/budget/my_ballot'  %>

      <%= render Sidebar::ProjektsFilterComponent.new(@top_level_active_projekts, @top_level_archived_projekts, @all_resources, @current_tab_phase, @current_projekt) %>

      <% unless @budget.phase == 'publishing_prices' && projekt_feature?(@projekt, 'budgets.show_results_after_first_vote')  # con-1036 %>
        <% if params[:section].blank? || params[:section] == 'overview' %>
          <%= render Budgets::Investments::FiltersComponent.new %>
        <% end %>
      <% end %>
    </aside>
  </div>

  <div id='budgets' class='budgets-list spinner-placeholder small-12 medium-9 column'>
    <%= render 'shared/loader_spinner' %>

    <% if @budget.phase == 'finished' %>
      <%= render Pages::Projekts::BudgetsSubnavComponent.new(@budget) %>
    <% end %>

    <% if params[:section] == 'results' %>
      <%= render 'pages/projekt_footer/budget/results' %>
    <% elsif params[:section] == 'stats' %>
      <%= render 'pages/projekt_footer/budget/stats' %>
    <% elsif params[:section] == 'executions' %>
      <%= render 'pages/projekt_footer/budget/executions' %>
    <% else %>
      <%= render 'pages/projekt_footer/budget/investments' %>
    <% end %>
  </div>
</div>
