<ul class="tabs"
    id="projekt-footer-tabs"
    data-deep-link="true"
    data-update-history="true"
    data-deep-link-smudge="true"
    data-deep-link-smudge-delay="500"
    data-tabs>

  <li class="tabs-title is-active">
    <%= link_to "#tab-activities" do %>
      <h3>
        <%= t("custom.projekt.footer.show.activities_tab") %>
      </h3>
    <% end %>
  </li>

  <% if projekt_feature?(projekt, 'footer.show_comments_in_projekt_footer') %>
    <li class="tabs-title">
      <%= link_to "#tab-comments" do %>
        <h3>
          <%= t("custom.projekt.footer.show.comments_tab") %>
          <span class="js-comments-count">(<%= projekt.comments.count %>)</span>
        </h3>
      <% end %>
    </li>
  <% end %>

  <% if projekt_feature?(projekt, 'footer.show_notifications_in_projekt_footer') %>
    <li class="tabs-title">
      <%= link_to "#tab-notifications" do %>
        <h3>
          <%= t("custom.projekt.footer.show.notifications_tab") %>
          (<%= projekt.projekt_notifications.count %>)
        </h3>
      <% end %>
    </li>
  <% end %>

  <% if projekt_feature?(projekt, 'footer.show_milestones_in_projekt_footer') %>
    <li class="tabs-title">
      <%= link_to "#tab-milestones" do %>
        <h3>
          <%= t("custom.projekt.footer.show.milestones_tab") %>
          (<%= projekt.milestones.count %>)
        </h3>
      <% end %>
    </li>
  <% end %>

  <% if projekt_feature?(projekt, 'footer.show_newsfeed_in_projekt_footer') &&
        ProjektSetting.find_by(projekt: projekt, key: "projekt_newsfeed.id").value.present? &&
        ProjektSetting.find_by(projekt: projekt, key: "projekt_newsfeed.type").value.present? %>
    <li class="tabs-title" id='js-reload-newsfeed'>
      <%= link_to "#tab-newsfeed" do %>
        <h3>
          <%= t("custom.projekt.footer.show.newsfeed_tab") %>
        </h3>
      <% end %>
    </li>
  <% end %>
</ul>

<script>
  $('#js-reload-newsfeed').on('click', function() {
    $('#newsfeed-placeholder').html('');
    $("#newsfeed-placeholder" ).load(window.location.href + " #newsfeed-placeholder" );
  } );
</script>
