<nav class="margin-bottom <%= "legislation-process-list" if true %>">
  <div class="row">
    <div class="small-12 column">
      <% if true %>
        <h3><%= "Beteiligung" %></h3>
      <% end %>

      <ul id='filter-subnav' class='key-dates'>
        <% if true %>
          <li id="filter-subnav-debates" class="is-active">
            <%= link_to debates_footer_tab_page_path(projekt), remote: true do %>
              <h4><%= "Debates" %></h4>
              <span><%= format_date(projekt.total_duration_start) %> - <%= format_date(projekt.total_duration_end) %></span>
            <% end %>
          </li>
        <% end %>

        <% if true %>
          <li id='filter-subnav-proposals' >
            <%= link_to proposals_footer_tab_page_path(projekt), remote: true do %>
              <h4><%= "Proposals" %></h4>
              <span><%= format_date(projekt.total_duration_start) %> - <%= format_date(projekt.total_duration_end) %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
