<% if @current_section == 'annotations_list' %>
  <div class="column row">
    <div class="draft-panels small-12 column row">
        <div class="row draft-chooser">
          <div class="small-12 medium-9 column">
            <h3><%= t("legislation.draft_versions.show.seeing_version") %></h3>

            <div class="select-box">
              <%= form_tag @current_projekt.page.url + '#footer-content', method: :get, id: "draft_version_go_to_version" do %>
                <%= select_tag "text_draft_version_id", options_from_collection_for_select(@draft_versions_list, "id", "display_title", @draft_version.id), "aria-label": t("legislation.draft_versions.show.select_draft_version") %>
                <%= hidden_field_tag :selected_phase_id, @current_projekt.legislation_process_phase.id %>
                <%= hidden_field_tag :section, 'annotations_list' %>
              <% end %>
              <% if @draft_version.changelog.present? %>
                <span>
                  <%= link_to t("legislation.draft_versions.show.see_changes"),
                              projekt_legislation_process_footer_path(@projekt, @draft_version, section: 'changelog'),
                              class: "see-changes" %>
                </span>
              <% end %>
            </div>
            <span><%= t("legislation.draft_versions.show.updated_at",
                         date: format_date(@draft_version.updated_at)) %></span>
          </div>
          <div class="small-12 medium-3 column">
            <%= link_to projekt_legislation_process_footer_path(@current_projekt, @draft_version), title: t("legislation.annotations.version_chooser.see_text"), class: "button" do %>
              <strong><%= t("legislation.annotations.version_chooser.see_text") %></strong>
            <% end %>
          </div>
        </div>
    </div>

    <%= render "legislation/processes/help_gif" %>

    <div class="small-12 medium-8 column row legislation-comments end">

      <% @annotations.each do |annotation| %>
        <div class="comment">
          <strong><%= t("legislation.annotations.index.comments_about") %></strong>
          <span class="float-right">
            <%= link_to projekt_legislation_process_footer_path(@current_projekt, @draft_version, anchor: "annotation-id-#{annotation.id}") do %>
              <span><%= t("legislation.annotations.index.see_in_context") %></span>
              <span class="icon-expand" aria-hidden="true"></span>
            <% end %>
          </span>
          <div class="comment-section">
            <%= sanitize(annotation.context).presence || annotation.quote %>
          </div>
          <%= link_to legislation_process_draft_version_annotation_path(@process, @draft_version, annotation) do %>
            <span class="icon-comments" aria-hidden="true"></span>
            <span>
              <%= t("legislation.annotations.index.comments_count", count: annotation.comments_count) %>
            </span>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
<% elsif @current_section == 'text' %>
  <div class="column row">
    <% if @draft_version.present? %>
      <div class="draft-panels small-12 column row">
        <div class="row draft-chooser">
          <div class="small-12 medium-9 column">
            <h3><%= t("legislation.draft_versions.show.seeing_version") %></h3>
            <div class="select-box">
              <%= form_tag @current_projekt.page.url + '#footer-content', method: :get, id: "draft_version_go_to_version" do %>
                <%= select_tag "text_draft_version_id", options_from_collection_for_select(@draft_versions_list, "id", "display_title", @draft_version.id), "aria-label": t("legislation.draft_versions.show.select_draft_version") %>
                <%= hidden_field_tag :selected_phase_id, @current_projekt.legislation_process_phase.id %>
              <% end %>
              <% if @draft_version.changelog.present? %>
                <span>
                  <%= link_to t("legislation.draft_versions.show.see_changes"),
                              projekt_legislation_process_footer_path(@projekt, @draft_version, section: 'changelog'),
                              class: "see-changes" %>
                </span>
              <% end %>
            </div>
            <span><%= t("legislation.draft_versions.show.updated_at",
                         date: format_date(@draft_version.updated_at)) %></span>
          </div>

          <% unless @draft_version.final_version? %>
            <div class="small-12 medium-3 column">
              <%= link_to projekt_legislation_process_footer_path(@projekt, @draft_version, section: 'annotations_list'),
                          title: t("legislation.draft_versions.show.see_comments"),
                          class: "button expanded" do %>
                <strong><%= t("legislation.draft_versions.show.see_comments") %></strong>
              <% end %>
            </div>
          <% end %>

        </div>

        <%= render "legislation/processes/help_gif" %>

        <div class="draft-allegation">
          <details class="calc-index">
            <summary class="draft-panel">
              <span class="icon-banner" aria-hidden="true"></span>
              <span class="panel-title"><%= t("legislation.draft_versions.show.text_toc") %></span>
            </summary>

            <div class="draft-index" data-tree-navigator>
              <%= AdminLegislationSanitizer.new.sanitize(@draft_version.toc_html) %>
            </div>
          </details>
          <div class="calc-text border-right border-left">
            <div class="draft-panel">
              <div><span class="panel-title"><%= t("legislation.draft_versions.show.text_body") %></span></div>
            </div>
            <div id="sticky-panel" class="draft-text">
              <% if @draft_version.final_version? %>
              <section>
              <% else %>
              <section class="legislation-annotatable"
                       data-legislation-draft-version-id="<%= @draft_version.id %>"
                       data-legislation-annotatable-base-url="<%= legislation_process_draft_version_path(@process, @draft_version) %>"
                       data-legislation-open-phase="<%= @process.allegations_phase.open? %>">
              <% end %>
                <%= AdminLegislationSanitizer.new.sanitize(@draft_version.body_html) %>
              </section>
            </div>
          </div>

          <% if @draft_version.final_version? %>
            <div class="calc-comments"></div>
          <% else %>
            <%= render "legislation/draft_versions/comments_panel", draft_version: @draft_version %>
          <% end %>

        </div>
      </div>
    <% else %>
      <h2> No texts</h2>
    <% end %>
  </div>
<% elsif @current_section == 'changelog' %>
  <div class="column row">
    <div class="draft-panels small-12 column row">
      <div class="row draft-chooser">
        <div class="small-12 medium-9 column">
          <h3><%= t("legislation.draft_versions.changes.seeing_changelog_version") %></h3>
          <div class="select-box">
            <%= form_tag @current_projekt.page.url + '#footer-content', method: :get, id: "draft_version_go_to_version" do %>
              <%= select_tag "text_draft_version_id", options_from_collection_for_select(@draft_versions_list, "id", "display_title", @draft_version.id), "aria-label": t("legislation.draft_versions.show.select_draft_version") %>
              <%= hidden_field_tag :selected_phase_id, @current_projekt.legislation_process_phase.id %>
              <%= hidden_field_tag :section, 'changelog' %>
              <%= submit_tag t("legislation.draft_versions.show.select_version_submit"), class: "button" %>
            <% end %>
          </div>
          <span><%= t("legislation.draft_versions.show.updated_at", date: format_date(@draft_version.updated_at)) %></span>
        </div>
        <div class="small-12 medium-3 column">
          <%= link_to projekt_legislation_process_footer_path(@projekt, @draft_version),
                      title: t("legislation.draft_versions.changes.see_text"), class: "button" do %>
            <strong><%= t("legislation.draft_versions.changes.see_text") %></strong>
          <% end %>
        </div>
      </div>

      <%= render "legislation/processes/help_gif" %>

      <div class="row">
        <div class="small-12 medium-8 column legislation-changes">
          <%= markdown @draft_version.changelog %>
        </div>
      </div>
    </div>
  </div>
<% end %>
