<%= render 'shared/loader_spinner' %>

<div class="row">
  <div id="proposal_notifications" class="small-12 column notification-body">
    <h3 class="projekt-event-tab-title"><%= t('custom.projekts.page.projekt_events_tab.title') %></h3>
    <% if @projekt_events.blank? %>
      <div class="callout primary text-center">
        <%= t("custom.projekts.page.projekt_events_tab.no_events") %>
      </div>
    <% else  %>
      <% @projekt_events.each do |event| %>
        <div id="<%= dom_id(event) %>" class="projekt-event-item">
          <div class="projekt-event-item-calendar-column">
            <div class="projekt-event-item-calendar">
              <div class="projekt-event-item-calendar-dayname">
                <%= event.datetime.strftime('%a').upcase %>
              </div>
              <div class="projekt-event-item-calendar-daynumber">
                <%= event.datetime.strftime('%d') %>
              </div>
            </div>
          </div>
          <div class="projekt-event-item-titles">
            <div><strong><%= t('custom.projekts.page.projekt_events_tab.event_title') %>:</strong></div>
            <div><%= t('custom.projekts.page.projekt_events_tab.event_location') %>:</div>
            <div><%= t('custom.projekts.page.projekt_events_tab.event_date') %>:</div>
            <div><%= t('custom.projekts.page.projekt_events_tab.event_time') %>:</div>
            <div><%= t('custom.projekts.page.projekt_events_tab.event_weblink') %>:</div>
          </div>
          <div class="projekt-event-item-values">
            <div><strong><%= event.title %></strong></div>
            <div><%= event.location %></div>
            <div><%= event.datetime.strftime('%d.%m.%Y') %></div>
            <div><%= event.datetime.strftime('%H:%M') %></div>
            <div><a href="<%= event.weblink %>"><%= event.weblink %></a></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
