<%= render 'shared/loader_spinner' %>

<% if projekt_feature?(@current_projekt, 'general.show_map') %>
  <% cache @all_resources.count do %>
    <div class='margin-bottom'>
      <%= render "proposals/map" %>
    </div>
  <% end %>
<% end %>

<div class='row'>


  <div id="proposals-sidebar"  class="small-12 medium-3 column">
    <aside class="margin-bottom">
      <%= render Proposals::NewButtonComponent.new(@current_projekt, @current_tab_phase) %>

      <%= render Sidebar::ProjektsFilterComponent.new(@top_level_active_projekts, @top_level_archived_projekts, @all_resources, @current_tab_phase, @current_projekt) %>
    </aside>
  </div>

  <div id="proposals" class='proposals-list spinner-placeholder small-12 medium-9 column'>
    <%= render 'shared/loader_spinner' %>
    <%= render "shared/order_links", i18n_namespace: "proposals.index" %>

    <div class='row'>
      <div class='small-6 column small'>
        <% if extended_feature?('modulewide.custom_help_text_in_modules') %>
          <%= link_to t('proposals.index.section_header.help'), '#section_help' %>
        <% end %>
      </div>

      <div class='small-6 column small'>
        <% if extended_feature?('modulewide.show_number_of_entries_in_modules') %>
          <div class='float-right'>
            <%= @proposals.except(:limit, :offset).count %>
            <%= t('activerecord.models.proposal', count: @proposals.except(:limit, :offset).count) %>
          </div>
        <% end %>
      </div>
    </div>

    <% if @proposals.any? || current_user.blank? %>
      <%= render partial: "proposals/proposal", collection: @proposals %>
    <% else %>
      <%= empty_recommended_proposals_message_text(current_user) %>
    <% end %>
    <%= paginate @proposals, remote: true %>
  </div>
</div>
