<div class='margin-bottom'>
  <%= render "proposals/map" %>
</div>

<div class='row'>


	<div id="proposals-sidebar"  class="small-12 medium-3 column">
		<aside class="margin-bottom">
      <% # render partial: "shared/projekt_sidebar_filter/projekts_sidebar", locals: { resources_name: 'proposals' } %>
      <%= render Sidebar::ProjektsFilterComponent.new(@top_level_active_projekts, @top_level_archived_projekts, @all_resources, @current_projekt_footer_tab) %>
		</aside>
	</div>

  <div id="proposals" class='proposals-list small-12 medium-9 column'>
    <%= render "shared/order_links", i18n_namespace: "proposals.index" %>

		<% if @proposals.any? || current_user.blank? %>
			<%= render partial: "proposals/proposal", collection: @proposals %>
		<% else %>
			<%= empty_recommended_proposals_message_text(current_user) %>
		<% end %>
		<%= paginate @proposals, remote: true %>
	</div>
</div>
