<div class='projekt-bar column' style="background-color:<%= projekt_bar_background_color(resource.projekt.top_parent) %>;color:<%= projekt_bar_text_color(resource.projekt.top_parent) %>" >
  <div class='projekt-name'>
    <%= breadcrumbs_links(resource.projekt, ">", false) %>
  </div>

  <div class='show-for-large'>
    <% if action_name == 'index' && controller_name.in?(['proposals', 'debates', 'polls', 'investments', 'welcome'])  %>
      <% if resource.respond_to?(:on_behalf_of) && resource.on_behalf_of.present? %>
        <%= resource.on_behalf_of %>
      <% elsif !resource.author.name.blank? %>
        <%= link_to resource.author.name, resource.author %>
      <% end%>

      <% if resource.class.name == "Proposal" %>
        <%= render partial: "proposals/proposal/participation_label", locals: { proposal: resource } %>
      <% end %>

    <% elsif action_name == 'show' && controller_name.in?(['proposals', 'debates', 'polls', 'investments']) && resource.projekt&.page&.published? %>
      <%= link_to t("custom.shared.show.back_link", resources: resource.model_name.human(count: 2)), page_path(resource.projekt.page.slug) %>

    <% elsif controller_name == 'pages' %>
      <% if resource.respond_to?(:on_behalf_of) && resource.on_behalf_of.present? %>
        <%= resource.on_behalf_of %>
      <% else %>
        <%= link_to resource.author.name, resource.author %>
      <% end %>

    <% end%>
  </div>
</div>
