<% if @top_level_active_projekts.any? || @top_level_archived_projekts.any? %>
  <div class="sidebar-divider"></div>

  <h2 class="sidebar-title projekt-tag-chip-projekt projekt-tag-chip-icon"><%= t("custom.projekts.sidebar_filter.title") %></h2>

  <div id='filter-projekts-all'>

    <% if show_archived_projekts_in_sidebar? && @top_level_active_projekts.any? && @top_level_archived_projekts.any? %>
      <div class='sidebar-projekt-group-name'>
        <%= t("custom.projekts.sidebar_filter.title_active") %>
      </div>
    <% end %>

    <% if @top_level_active_projekts %>
      <div id='filter-projekts-active'>
        <%= render partial: "shared/projekt_sidebar_filter/projekts_filter", locals: { projekts: @top_level_active_projekts, group: 'active', resources_name: resources_name } %>
      </div>
    <% end %>


    <% if show_archived_projekts_in_sidebar? && @top_level_archived_projekts.any? %>
      <div class='sidebar-projekt-group-name'>
        <%= t("custom.projekts.sidebar_filter.title_archived") %>
      </div>

      <div id='filter-projekts-archived'>
        <%= render partial: "shared/projekt_sidebar_filter/projekts_filter", locals: { projekts: @top_level_archived_projekts, group: 'archived', resources_name: resources_name } %>
      </div>
    <% end %>

    <div class="sidebar-filter-group">
      <%= button_tag t('custom.projekts.sidebar_filter.filter_button'), class: 'js-apply-projekts-filter sidebar-filter-button' %>
      <%= button_tag '', class: 'js-reset-projekts-filter sidebar-reset-filter-button' %>
    </div>
  </div>
<% end %>
