<table>
  <thead>
    <tr>
      <th><%= t("admin.settings.setting") %></th>
      <th><%= t("admin.settings.index.features.enabled") %></th>
    </tr>
  </thead>
  <tbody>
    <% features.each do |feature| %>
      <tr>
        <td class='small-10'>
          <strong id="<%= dom_id(feature, :title) %>"><%= t("custom.settings.#{feature.key}") %></strong>
          <br>
          <span class="small">
            <%= t("custom.settings.#{feature.key}_description", default: t("admin.settings.no_description")) %>
          </span>
        </td>

        <td class='small-2'>
          <%= render Admin::Settings::FeaturedSettingsFormComponent.new(feature, tab: tab) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
