<% parent_projekt_id ||= 0 %>
<% phase_name = 'debate_phase' if controller.controller_name == 'debates' %>
<% phase_name = 'proposal_phase' if controller.controller_name == 'proposals' %>


<div class="projekt-group" <%= "data-parent=#{parent_projekt_id}" %> <%= 'style=display:block;' if show_projekt_group_in_selector?(projekts) %> >
  <%= f.collection_radio_buttons :projekt_id, projekts, :id, :name, {include_hidden: false} do |rb| %>

    <% @projekt_phase = rb.object.send(phase_name) if phase_name %>

    <% disable_radio_button = ((can?(:select, @projekt_phase) || ((current_user.administrator?) && controller.controller_name == 'polls') ) ? false : true)  %>
    <% disabled_class = ((can?(:select, @projekt_phase) || ((current_user.administrator?) && controller.controller_name == 'polls') || projekt_feature?(rb.object, 'general.show_not_active_phases_in_projekts_page_sidebar')  ) ? '' : 'projekt-phase-disabled') %>
    <% hide_map_class = projekt_feature?(rb.object, "general.show_map") ? '' : 'hide-map'  %>


    <% rb.object.children.any? ? arrow = 'show-arrow' : arrow = ''  %>
    <% rb.label(class: "js-show-children-projekts #{arrow} #{disabled_class} #{highlight_projekt_in_selector?(rb.object)} #{hide_map_class} js-select-projekt", data: {projekt_id: rb.object.id, latitude: rb.object.map_location.latitude, longitude: rb.object.map_location.longitude, zoom: rb.object.map_location.zoom, maplocation: rb.object.map_location.id } ) do  %>

      <%= rb.radio_button(disabled: disable_radio_button, checked: check_radio_button?(rb.object.id)) %>
      <%= rb.text %>

      <% if phase_name && projekt_phase_active?(rb.object, phase_name) %>
        <div class='projekt-phase-details js-show-children-projekts js-select-projekt'>
          <span class="time-icon">
            <%= get_projekt_phase_duration(rb.object.send(phase_name)) %>
          </span>

          <br>
          <span class="geo-affiliation-icon">
            <%= get_projekt_affiliation_name(rb.object) %>
          </span>
 
          <% unless skip_user_verification? %>
            <br>
            <span class="geo-restriction-icon">
              <%= get_projekt_phase_restriction_name(rb.object.send(phase_name)) %>
            </span>
          <% end %>
        </div>
      <% elsif phase_name && !projekt_feature?(rb.object, 'general.show_not_active_phases_in_projekts_page_sidebar') %>
        <div class='projekt-phase-details'>
          <%= t('custom.projekt.page.sidebar.phases.debate_phase_not_active') if phase_name == 'debate_phase' %>
          <%= t('custom.projekt.page.sidebar.phases.proposal_phase_not_active') if phase_name == 'proposal_phase' %>
        </div>
      <% end %>

      <% if (phase_name && projekt_phase_active?(rb.object, phase_name)) || !projekt_feature?(rb.object, 'general.show_not_active_phases_in_projekts_page_sidebar') %>
        <div class="checkmark-wrapper">
          <span class="checkmark "></span>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
