<%= f.hidden_field :projekt_id %>

<% if model.errors.full_messages.any? { |error| error.include? 'Projekt' } %>
  <br>
  <small class='form-error is-visible'>
    <%= t('custom.projekts.errors.presence') %>
  </small>
<% end %>

<div id='projekt-selector-fields' class=''>
  <div class='projekt-selector js-toggle-projekt-group js-prevent-key-scroll' data-target='#group-for-0' tabindex='0' >

    <div id='' class='selected-projekt'>
      <div class='selected-projekt-placeholder'>
        <%= t('custom.projekts.selector.select_placeholder_mandatory_html') %>
      </div>
    </div>

    <%= render partial: 'shared/projekt_selector/projekt_group', locals: { projekts: @projekts.selectable_in_selector(controller_name, current_user), parent_id: 0 } %>
  </div>

  <div class='spacer'>
    <i class="fas fa-chevron-right"></i>
  </div>

  <div class='projekt-selector js-toggle-projekt-group js-prevent-key-scroll' tabindex='0'>

    <div id='' class='selected-projekt'>
      <div class='selected-projekt-placeholder'>
      </div>
    </div>

    <% @projekts.each do |projekt|  %>
      <%= render partial: 'shared/projekt_selector/projekt_group', locals: { projekts: projekt.children.selectable_in_selector(controller_name, current_user), parent_id: projekt.id } if projekt.children.selectable_in_selector(controller_name, current_user) %>
    <% end %>
  </div>

  <div class='spacer'>
    <i class="fas fa-chevron-right"></i>
  </div>

  <div class='projekt-selector js-toggle-projekt-group js-prevent-key-scroll' tabindex='0'>

    <div id='' class='selected-projekt'>
      <div class='selected-projekt-placeholder'>
      </div>
    </div>

    <% @projekts.each do |projekt|  %>
      <% projekt.children.each do |projekt| %>
        <%= render partial: 'shared/projekt_selector/projekt_group', locals: { projekts: projekt.children.selectable_in_selector(controller_name, current_user), parent_id: projekt.id  } if projekt.children.selectable_in_selector(controller_name, current_user).any? %>
      <% end %>
    <% end %>
  </div>
</div>
