<%= render "shared/globalize_locales", resource: @process %>

<%= translatable_form_for [:admin, @process], html: { class: "legislation-process-form" } do |f| %>

  <%= render "shared/errors", resource: @process %>

  <fieldset>
    <legend class="small-12 medium-4 column">
      <%= t("admin.legislation.processes.form.draft_phase") %>
      <span class="help-text"><%= t("admin.legislation.processes.form.draft_phase_description") %></span>
    </legend>

    <div class="small-12 medium-3 column">
      <%= f.date_field :draft_start_date, id: "draft_start_date" %>
    </div>

    <div class="small-12 medium-3 column">
      <%= f.date_field :draft_end_date, id: "draft_end_date" %>
    </div>
    <div class="small-12 medium-2 column margin-top">
      <%= f.check_box :draft_phase_enabled, checked: @process.draft_phase.enabled?, label: t("admin.legislation.processes.form.enabled") %>
    </div>
  </fieldset>

  <div class="row">
    <div class="small-12 column margin-top margin-bottom">
      <%= render partial: "shared/projekt_selector/projekt_selector", locals: { f: f, model: @process, projekts: Projekt.top_level }  %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-3 column clear end">
      <%= f.submit(class: "button success expanded", value: t("admin.legislation.processes.#{admin_submit_action(@process)}.submit_button")) %>
    </div>
  </div>
<% end %>

