<% provide :title do %>
  <%= t("admin.menu.proposals") %> - <%= @proposal.title %>
  <% end %>
  
  <div class="proposal-show">
    <h2 class="inline-block"><%= @proposal.title %></h2>
  
    <%= render "proposals/info", proposal: @proposal %>
  </div>
  
  <div class="small-12 column">
    <hr>
    <%= render "form" %>
    <hr>
  </div>