<tr id="<%= dom_id(poll) %>" class="poll">
  <td>
    <strong><%= poll.name %></strong>
  </td>
  <td><%= poll.tag_list %></td>
  <td class="text-center">
    <%= l poll.starts_at.to_date %>
  </td>
  <td class="text-center">
    <%= l poll.ends_at.to_date %>
  </td>
  <td>
  <%= link_to t("admin.actions.edit"),
              edit_admin_poll_path(poll),
              class: "button hollow" %>

  <%= link_to t("admin.actions.delete"),
          admin_poll_path(poll),
          method: :delete,
          "data-confirm": t("admin.polls.destroy.alert"),
          class: "button hollow alert" %>

  <%= link_to t("admin.actions.configure"),
              admin_poll_path(poll),
              class: "button hollow " %>
</td>
</tr>