<h2><%= t("admin.tags.index.add_tag") %></h2>
<p><%= t("admin.tags.index.help") %></p>

<%= form_for(@tag, url: admin_tags_path, as: :tag) do |f| %>
  <div class="small-12 medium-6 admin-tags-form">
    <%= f.text_field :name %>
  </div>

  <%= f.submit(t("admin.tags.create"), class: "button success") %>
<% end %>

<hr>
<h3 class="margin"><%= page_entries_info @tags, entry_name: tag_count_label(@tags) %></h3>

<table>
  <thead>
    <th scope="col" class="small-3"><%= t("admin.tags.index.topic") %></th>
    <th scope="col"><%= t("admin.tags.index.scope") %></th>
    <th scope="col"><%= t("admin.actions.actions") %></th>
  </thead>
  <tbody>
  <% @tags.each do |tag| %>
    <tr>
        <%= form_for(tag,
            url: admin_tag_path(tag),
            as: :tag,
            html: { id: "edit_tag_#{tag.id}" }) do |f| %>

        <td class='small-3 tag-name-field'>
            <%=f.text_field :name %>
        </td>

        <td>
          <%=tag_kind_name(tag.kind)%>
        </td>

        <td class='small-6' id="tag_<%= tag.id %>">
            <%= f.submit(t("admin.actions.update"), class: "button success") %>
          <%= link_to t("admin.tags.destroy"), admin_tag_path(tag), method: :delete, class: "button hollow alert" %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @tags %>
