<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.site_customization.content_blocks") %>
<% end %>

<%= link_to t("admin.site_customization.content_blocks.index.create"), new_admin_site_customization_content_block_path, class: "button float-right" %>

<h2 class="inline-block"><%= t("admin.site_customization.content_blocks.index.title") %></h2>

<%= render "admin/settings/settings_table", settings: @html_settings, setting_name: "setting" %>

<h3><%= t("admin.site_customization.content_blocks.information") %></h3>

<p><%= t("admin.site_customization.content_blocks.about") %></p>
<p><%= t("admin.site_customization.content_blocks.html_format") %></p>

<p>
  <code>                             <%= '<li class="nav-element top-level-item js-access-top-level-menu js-prevent-key-scroll"
                                              tabindex="0" aria-label="Ihre Beiträge" aria-expanded="false" aria-haspopup="true">' %>                                                </code><br>
  <code style="margin-left: 20px;">  <%= '<div class="flyout-item-name projekt-name">Ihre Beiträge</div>' %>                                                                         </code><br>
  <code style="margin-left: 20px;">  <%= '<ul class="nav-flyout-block">' %>                                                                                                          </code><br>

  <code style="margin-left: 40px;">  <%= '<li class="nav-element flyout-item js-access-flyout-menu-item focusable" tabindex="0" aria-label="Diskussionen">' %>                       </code><br>
  <code style="margin-left: 60px;">  <%= '<a href="/debates" tabindex="-1" aria-hidden="true">Diskussionen</a>' %>                                                                  </code><br>
  <code style="margin-left: 40px;">  <%= '</li>' %>                                                                                                                                  </code><br>

  <code style="margin-left: 40px;">  <%= '<li class="nav-element flyout-item js-access-flyout-menu-item focusable" tabindex="0" aria-label="Vorschläge">' %>                         </code><br>
  <code style="margin-left: 60px;">  <%= '<a href="/proposals" tabindex="-1" aria-hidden="true">Vorschläge</a>' %>                                                                  </code><br>
  <code style="margin-left: 40px;">  <%= '</li>' %>                                                                                                                                  </code><br>

  <code style="margin-left: 40px;">  <%= '<li class="nav-element flyout-item js-access-flyout-menu-item focusable" tabindex="0" aria-label="Abstimmungen">' %>                       </code><br>
  <code style="margin-left: 60px;">  <%= '<a href="/polls" tabindex="-1" aria-hidden="true">Abstimmungen</a>' %>                                                                     </code><br>
  <code style="margin-left: 40px;">  <%= '</li>' %>                                                                                                                                  </code><br>

  <code style="margin-left: 20px;">  <%= '</ul>' %>                                                                                                                                  </code><br>
  <code>                             <%= '</li>' %>                                                                                                                                  </code><br>

 -----

  <code>                             <%= '<li class="nav-element top-level-item js-access-top-level-menu js-prevent-key-scroll" aria-expanded="false">' %>                           </code><br>
  <code style="margin-left: 20px;">  <%= '<div class="flyout-item-name projekt-name">Ihre Beiträge</div>' %>                                                                         </code><br>
  <code style="margin-left: 20px;">  <%= '<div class="nav-toggle-arrow js-toggle-mobile-flyout-item" tabindex="0" aria-label="Ihre Beiträge anzeigen"
                                               aria-haspopup="true aria-expanded="false"></div>' %>                                                                                  </code><br>
  <code style="margin-left: 20px;">  <%= '<ul class="nav-flyout-block">' %>                                                                                                          </code><br>

  <code style="margin-left: 40px;">  <%= '<li class="nav-element flyout-item">' %>                                                                                                   </code><br>
  <code style="margin-left: 60px;">  <%= '<a href="/debates">Diskussionen</a>' %>                                                                                                    </code><br>
  <code style="margin-left: 40px;">  <%= '</li>' %>                                                                                                                                  </code><br>

  <code style="margin-left: 40px;">  <%= '<li class="nav-element flyout-item">' %>                                                                                                   </code><br>
  <code style="margin-left: 60px;">  <%= '<a href="/proposals">Vorschläge</a>' %>                                                                                                    </code><br>
  <code style="margin-left: 40px;">  <%= '</li>' %>                                                                                                                                  </code><br>
  <code style="margin-left: 40px;">  <%= '<li class="nav-element flyout-item">' %>                                                                                                   </code><br>
  <code style="margin-left: 60px;">  <%= '<a href="/polls">Abstimmungen</a>' %>                                                                                                      </code><br>
  <code style="margin-left: 40px;">  <%= '</li>' %>                                                                                                                                  </code><br>
  <code style="margin-left: 20px;">  <%= '</ul>' %>                                                                                                                                  </code><br>
  <code>                             <%= '</li>' %>                                                                                                                                  </code><br>

</p>

<% if @content_blocks.any? || @headings_content_blocks.any? %>
  <table class="cms-page-list">
    <thead>
      <tr>
        <th><%= t("admin.site_customization.content_blocks.content_block.name") %></th>
        <th><%= t("admin.site_customization.content_blocks.content_block.key") %></th>
        <th><%= t("admin.site_customization.content_blocks.content_block.body") %></th>
        <th><%= t("admin.actions.actions") %></th>
      </tr>
    </thead>
    <tbody>
    <% @content_blocks.each do |content_block| %>
      <tr id="<%= dom_id(content_block) %>">
        <td><%= link_to "#{content_block.name} (#{content_block.locale})", edit_admin_site_customization_content_block_path(content_block) %></td>
        <td><%= link_to content_block.key || "", edit_admin_site_customization_content_block_path(content_block) %></td>
        <td><%=content_block.custom? ? '' : raw(content_block.body) %></td>
        <td>
          <%= link_to t("admin.site_customization.content_blocks.index.delete"),
                        admin_site_customization_content_block_path(content_block),
                        method: :delete, class: "button hollow alert" %>
        </td>
      </tr>
    <% end %>
    <% @headings_content_blocks.each do |content_block| %>
      <tr id="<%= dom_id(content_block) %>">
        <td><%= link_to "#{content_block.heading.name} (#{content_block.locale})", admin_site_customization_edit_heading_content_block_path(content_block) %></td>
        <td><%= raw content_block.body %></td>
        <td>
          <%= link_to t("admin.site_customization.content_blocks.index.delete"),
                        admin_site_customization_delete_heading_content_block_path(content_block.id),
                        method: :delete, class: "button hollow alert" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="callout primary">
    <%= t("admin.site_customization.content_blocks.no_blocks") %>
  </div>
<% end %>
