<%= form_for(@projekt, url: admin_projekt_path, as: :projekt) do |f| %>

  <%= hidden_field_tag :role, params[:controller].include?('projekt_management') ? 'projekt_manager' : '' %>

  <% if projekt_feature?(@projekt, 'general.enable_sdgs') %>
    <div class="margin-bottom">
      <h2><%= t("custom.admin.projekts.edit.projekt_sdg_tab.sdgs") %></h2>
      <%= hidden_field_tag :tab, '#tab-projekt-sdg' %>
      <%= render SDG::RelatedListSelectorComponent.new(f) %>
    </div>

  <% else %>
    <div class='margin-bottom'><%= t("custom.admin.projekts.edit.projekt_sdg_tab.sdgs_enable") %></div>

  <% end %>

  <% if projekt_feature?(@projekt, 'general.enable_tags') %>
    <div class="margin-bottom">
      <div id="category_tags" class="tags">
        <h2><%= t("custom.admin.projekts.edit.projekt_sdg_tab.tags") %></h2>
        <i style="display:block;margin-top:-1.5rem;margin-bottom:1rem;padding-left:5px;"><%= t("custom.admin.projekts.edit.projekt_sdg_tab.tags_hint") %></i>
        <% Tag.category.order(:name).each do |tag| %>
          <a class="js-add-tag-link"><%= tag.name %></a>
        <% end %>
      </div>
    </div>

  <% else %>
    <div class='margin-bottom'><%= t("custom.admin.projekts.edit.projekt_sdg_tab.tags_enable") %></div>

  <% end %>

  <%=f.hidden_field :tag_list_predefined, value: @projekt.tags.reject{|t| !['category'].include?(t.kind)}.map(&:name).join(","), class: "js-tag-list list-tags predefined"%>

  <%= f.submit %>
<% end %>
