<h2><%= t("custom.admin.projekts.edit.projekt_phases_tab.page_block_title") %></h2>
<table class="cms-page-list">
  <thead>
    <tr>
      <th><%= t("admin.site_customization.pages.page.title") %></th>
      <th><%= t("admin.site_customization.pages.page.slug") %></th>
      <th><%= t("admin.site_customization.pages.page.created_at") %></th>
      <th><%= t("admin.site_customization.pages.page.updated_at") %></th>
      <th><%= t("admin.site_customization.pages.page.status") %></th>
      <th><%= t("admin.actions.actions") %></th>
    </tr>
  </thead>
  <tbody>

    <tr id="<%= dom_id(@projekt.page) %>">
      <td><%= @projekt.page.title %></td>
      <td><%= @projekt.page.slug %></td>
      <td><%= I18n.l @projekt.page.created_at, format: :short %></td>
      <td><%= I18n.l @projekt.page.created_at, format: :short %></td>
      <td><%= t("admin.site_customization.pages.page.status_#{@projekt.page.status}") %></td>
      <td>
        <%= render Admin::TableActionsComponent.new(@projekt.page) do |actions| %>
          <%= actions.link_to t("admin.site_customization.pages.page.see_cards"),
                              admin_site_customization_page_widget_cards_path(@projekt.page),
                              class: "cards-link" %>

          <% if @projekt.page.status == "published" %>
            <%= actions.link_to t("admin.site_customization.pages.index.see_page"),
                                @projekt.page.url,
                                target: "_blank",
                                class: "show-link" %>
          <% end %>
        <% end %>
      </td>
    </tr>

  </tbody>
</table>


<h2 class="margin-top-25"><%= t("custom.admin.projekts.edit.projekt_phases_tab.phases_block_title") %></h2>

<%= form_for(@projekt, url: admin_projekt_path, as: :projekt) do |f| %>
  <%= hidden_field_tag :tab, '#tab-projekt-phases' %>
  <table class='edit-projekt margin-top'>
    <thead>
      <th scope="col" class="small-3"><%= t("custom.admin.projekts.edit.projekt_phases_tab.phase_name") %></th>
      <th scope="col" class="small-3"><%= t("custom.admin.projekts.edit.projekt_phases_tab.beginning") %></th>
      <th scope="col" class="small-3"><%= t("custom.admin.projekts.edit.projekt_phases_tab.ending") %></th>
      <th scope="col" class="small-3"><%= t("custom.admin.projekts.edit.projekt_phases_tab.actions") %></th>
    </thead>
    <tbody>

      <tr class= <%= 'fieldset-disabled' unless @projekt.top_level?  %>>
        <td>
          <%= t("custom.admin.projekts.edit.projekt_phases_tab.projekt_duration") %>
        </td>
        <td>
          <%= f.date_field :total_duration_start, disabled: (true unless @projekt.top_level?), label: t("custom.admin.projekts.edit.projekt_phases_tab.start_date")  %>
        </td>
        <td>
          <%= f.date_field :total_duration_end, disabled: (true unless @projekt.top_level?), label: t("custom.admin.projekts.edit.projekt_phases_tab.end_date")  %>
        </td>
        <td>
          <%= f.check_box :total_duration_active, { label: t("custom.admin.projekts.edit.projekt_phases_tab.activate"), disabled: (true unless @projekt.top_level?) }  %>
        </td>
      </tr>

      <%= render partial: 'custom/admin/projekts/edit/projekt_phases/edit_projekt_phase', locals: { f: f, projekt_phase: @projekt.debate_phase, phase_name: 'debate_phase' } %>

      <%= render partial: 'custom/admin/projekts/edit/projekt_phases/edit_projekt_phase', locals: { f: f, projekt_phase: @projekt.proposal_phase, phase_name: 'proposal_phase' } %>

      <tr>
        <td>
          <%= t("custom.admin.projekts.edit.projekt_phases_tab.voting_phase") %>
        </td>
        <td colspan='3'>
          <%= link_to t("custom.admin.projekts.edit.projekt_phases_tab.voting_manage"), admin_polls_path  %>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <%= f.submit(t("custom.admin.projekts.edit.update"), class: "button success") %>
  </div>
<% end %>
