<h2><%= t("custom.admin.projekts.edit.projekt_notifications_tab.page_title") %></h2>

<%= render partial: 'custom/admin/projekts/edit/projekt_notifications/form', locals: { url: admin_projekt_projekt_notifications_path(@projekt, @projekt_notification), projekt: @projekt, notification: @projekt_notification } %>

<div class='margin-top'> 
  <% @projekt_notifications.each do |notification| %>
    <div class='small-12 medium-7 projekt-notification' id="<%= dom_id(notification) %>">
      <%= check_box_tag "edit_projekt_notification_#{ dom_id(notification) }" %>
      <%= label_tag nil, nil, for: "edit_projekt_notification_#{ dom_id(notification) }", class: 'edit-projekt-notification' %>

      <div class='projekt-notification-content'>
        <h3><%= notification.title %></h3>
        <p class="more-info"><%= notification.created_at.to_date %></p>
        <p><%= notification.body %></p>
      </div>

      <div class='edit-projekt-notification-form'>
        <%= render partial: 'custom/admin/projekts/edit/projekt_notifications/form', locals: { url: admin_projekt_projekt_notification_path(@projekt, notification), projekt: @projekt, notification: notification } %>
      </div>

      <%= link_to '', admin_projekt_projekt_notification_path(@projekt, notification, namespace: @namespace), method: :delete, class: 'delete-projekt-notification' %>
      <hr>
    </div>
  <% end %>
</div>
