<% namespace = params[:controller].split('/').first %>

<h2><%= t("custom.admin.projekts.edit.projekt_phases_tab.main_block_title") %></h2>
<%= render partial: "admin/projekts/edit/projekt_phases/settings_table", locals: { features: @projekt_features_main } %>


<h2><%= t("custom.admin.projekts.edit.projekt_phases_tab.page_block_title") %></h2>
<%= render partial: "admin/projekts/edit/projekt_phases/projekt_page" %>


<h2><%= t("custom.admin.projekts.edit.projekt_phases_tab.information_block_title") %></h2>
<%= render partial: 'admin/projekts/edit/projekt_phases/projekt_information' %>

<h2 class="margin-top-25"><%= t("custom.admin.projekts.edit.projekt_phases_tab.phases_block_title") %></h2>

<table class='edit-projekt margin-top'>
  <tbody>

    <%= render partial: 'custom/admin/projekts/edit/projekt_phases/edit_projekt_phase', locals: {
      projekt_phase: @projekt.comment_phase,
      phase_name: 'comment_phase'
    } %>

    <%= render partial: 'custom/admin/projekts/edit/projekt_phases/edit_projekt_phase', locals: {
      projekt_phase: @projekt.debate_phase,
      phase_name: 'debate_phase'
    } %>

    <%= render partial: 'custom/admin/projekts/edit/projekt_phases/edit_projekt_phase', locals: {
      projekt_phase: @projekt.proposal_phase,
      phase_name: 'proposal_phase'
    } %>

    <%= render partial: 'custom/admin/projekts/edit/projekt_phases/edit_projekt_phase', locals: {
      projekt_phase: @projekt.question_phase,
      phase_name: 'question_phase'
    } %>

    <%= render partial: 'custom/admin/projekts/edit/projekt_phases/edit_projekt_phase', locals: {
      projekt_phase: @projekt.voting_phase,
      phase_name: 'voting_phase'
    } %>

    <%= render partial: 'custom/admin/projekts/edit/projekt_phases/edit_projekt_phase', locals: {
      projekt_phase: @projekt.budget_phase,
      phase_name: 'budget_phase'
    } %>

    <%= render partial: 'custom/admin/projekts/edit/projekt_phases/edit_projekt_phase', locals: {
      projekt_phase: @projekt.legislation_process_phase,
      phase_name: 'legislation_process_phase'
    } %>

    <%= render partial: 'custom/admin/projekts/edit/projekt_phases/edit_projekt_phase', locals: {
      projekt_phase: @projekt.projekt_notification_phase,
      phase_name: 'projekt_notification_phase'
    } %>

    <%= render partial: 'custom/admin/projekts/edit/projekt_phases/edit_projekt_phase', locals: {
      projekt_phase: @projekt.milestone_phase,
      phase_name: 'milestone_phase'
    } %>

    <%= render partial: 'custom/admin/projekts/edit/projekt_phases/edit_projekt_phase', locals: {
      projekt_phase: @projekt.event_phase,
      phase_name: 'event_phase'
    } %>

    <%= render partial: 'custom/admin/projekts/edit/projekt_phases/edit_projekt_phase', locals: {
      projekt_phase: @projekt.newsfeed_phase,
      phase_name: 'newsfeed_phase'
    } %>
  </tbody>
</table>
