<h2 class=''><%= t('custom.admin.projekts.edit.projekt_settings_tab.general_settings') %></h2>
<%= render partial: "admin/projekts/edit/projekt_settings/settings_table", locals: { features: @projekt_features_general } %>

<h2 class='margin-top-25'><%= t('custom.admin.projekts.edit.projekt_settings_tab.sidebar_settings') %></h2>
<%= render partial: "admin/projekts/edit/projekt_settings/settings_table", locals: { features: @projekt_features_sidebar } %>

<h2 class='margin-top-25'><%= t('custom.admin.projekts.edit.projekt_settings_tab.footer_settings') %></h2>
<%= render partial: "admin/projekts/edit/projekt_settings/settings_table", locals: { features: @projekt_features_footer, table_name: 'projekt-footer' } %>

<h2 class='margin-top-25'><%= t('custom.admin.projekts.edit.projekt_settings_tab.debates_settings') %></h2>
<%= render partial: "admin/projekts/edit/projekt_settings/settings_table", locals: { features: @projekt_features_debates } %>

<h2 class='margin-top-25'><%= t('custom.admin.projekts.edit.projekt_settings_tab.proposals_settings') %></h2>
<%= render partial: "admin/projekts/edit/projekt_settings/settings_table", locals: { features: @projekt_features_proposals } %>

<h2 class='margin-top-25'><%= t('custom.admin.projekts.edit.projekt_settings_tab.polls_settings') %></h2>
<% # render partial: "admin/projekts/edit/projekt_settings/settings_table", locals: { features: @projekt_features_polls } %>

<h2 class='margin-top-25'><%= t('custom.admin.projekts.edit.projekt_settings_tab.budget_settings') %></h2>
<%= render partial: "admin/projekts/edit/projekt_settings/settings_table", locals: { features: @projekt_features_budgets } %>
