<% @projekt.map_layers.each do |layer| %>
  <%= render partial: 'custom/admin/projekts/edit/projekt_map/map_layer', locals: { layer: layer } %>
<% end %>

<div id='new-map-layer'>
  <%= link_to t("custom.map_layer.buttons.new_layer"), new_admin_projekt_map_layer_path(@projekt, namespace: 'projekt_management'), class: 'button success margin-bottom', remote: true %>
</div>


<h2><%= t("admin.settings.index.map.title") %></h2>

<table>
  <thead>
    <tr>
      <th><%= t("admin.settings.setting") %></th>
      <th><%= t("admin.settings.setting_value") %></th>
    </tr>
  </thead>
  <tbody>

    <%= form_for(@projekt.map_location, url: admin_projekt_update_map_path(@projekt)) do |f| %>
      <%= hidden_field_tag :tab, '#tab-projekt-map' %>
      <%= hidden_field_tag :namespace, params[:controller].include?('projekt_management') ? 'projekt_management' : '' %>

      <%= render partial: 'custom/admin/projekts/edit/projekt_map/map_settings_form', locals: { map_location_form: f, attribute: :latitude } %>
      <%= render partial: 'custom/admin/projekts/edit/projekt_map/map_settings_form', locals: { map_location_form: f, attribute: :longitude } %>
      <%= render partial: 'custom/admin/projekts/edit/projekt_map/map_settings_form', locals: { map_location_form: f, attribute: :zoom } %>
    <% end %>

    <%= form_for(@projekt, url: admin_projekt_path, as: :projekt) do |f| %>
      <%= hidden_field_tag :tab, '#tab-projekt-map' %>
      <%= hidden_field_tag :namespace, params[:controller].include?('projekt_management') ? 'projekt_management' : '' %>

      <%= render partial: 'custom/admin/projekts/edit/projekt_map/map_settings_form', locals: { map_location_form: f, attribute: :color }%>
    <% end %>

  </tbody>
</table>


<p><%= t("admin.settings.index.map.help") %></p>

<%= render 'custom/admin/projekts/edit/projekt_map/map_form', map_location: @projekt.map_location %>

<%= form_for(@projekt, url: namespace_projekt_path, as: :projekt) do |f| %>
  <%= hidden_field_tag :tab, '#tab-projekt-map' %>
  <%= hidden_field_tag :namespace, params[:controller].include?('projekt_management') ? 'projekt_management' : '' %>

  <%= render "shared/errors", resource: @projekt %>

  <div class="clear">
    <div class="small-12 column">
      <%= f.label :icon, t("custom.admin.projekts.edit.design.icon")  %>
      <div class='icons-selector'>
        <%= f.collection_radio_buttons :icon, Iconable::AVAILABLE_ICONS, :first, :first do |rb| %>
          <%= rb.label { rb.radio_button + "<i class=\"fas fa-#{rb.object.first}\"></i>".html_safe } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="small-12 column">
    <%= f.submit(value: t("custom.admin.projekts.edit.design.submit_button"),
                class: "button success") %>
  </div>
<% end %>
