<% provide :title do %>
  <%= "#{t("legislation.annotations.show.title")} - #{@draft_version.title} - #{@process.title}" %>
<% end %>

<%= render "legislation/processes/header", process: @process, header: :small %>

<%= render "legislation/processes/key_dates", process: @process, phase: :allegations_phase %>

<div class="column row">
  <div class="draft-panels small-12 column row">
    <%= render "version_chooser", process: @process, draft_version: @draft_version %>

    <%= render "legislation/processes/help_gif" %>

    <div class="legislation-comment">
      <div class="annotation-comment">
      <%= render "/comments/comment_tree", comment_tree: @comment_tree,
                                           display_comments_count: true %>
      </div>
    </div>
  </div>
</div>
