<%= translatable_form_for(debate, html: { class: "debate-form" }) do |f| %>
  <%= render "shared/errors", resource: debate %>

  <fieldset class="required-fields">
    <legend><%= t("custom.shared.form.projekt_assignment") %></legend>
    <div class="margin-top">
      <%= render partial: "shared/projekt_selector/projekt_selector", locals: { f: f, model: @debate }  %>
    </div>

    <legend class='margin-top'><%= t("shared.required") %></legend>
    <%= render "shared/globalize_locales", resource: debate %>
    <%= f.translatable_fields do |translations_form| %>
      <div>
        <%= translations_form.text_field :title,
              maxlength: Debate.title_max_length,
              data: suggest_data(debate),
              autocomplete: "off" %>
      </div>
      <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

      <div>
        <%= translations_form.text_area :description,
              maxlength: Debate.description_max_length,
              class: "html-area" %>
      </div>
    <% end %>
  </fieldset>

  <%= f.invisible_captcha :subtitle %>

  <fieldset>
    <legend><%= t("shared.optional") %></legend>

    <div>
      <%if extended_feature?("modulewide.enable_categories") && categories.any? %>
        <div id="category_tags" class="tags">
          <%= f.label :category_tag_list, t("proposals.form.tag_category_label") %>
          <% categories.each do |tag| %>
            <a class="js-add-tag-link"><%= tag.name %></a>
          <% end %>
        </div>
        <br>
      <%=f.hidden_field :tag_list_predefined, value: debate.tags.reject{|t| !['category'].include?(t.kind)}.map(&:name).join(","), class: "js-tag-list list-tags predefined"%>
      <%end%>

      <%if extended_feature?("modulewide.enable_custom_tags") %>
        <%= f.text_field :tag_list_custom, value: debate.tags.where(kind: nil).map{|c| c.name}.join(","),
                          label: t("custom.debates.form.tags_custom"),
                          placeholder: t("debates.form.tags_placeholder"),
                          class: "js-tag-list tag-autocomplete",
                          aria: { describedby: "tag-list-help-text" },
                          data: { js_url: suggest_tags_path } %>
      <% end %>
    </div>

    <div class='row margin-top'>
      <br>
      <%= render SDG::RelatedListSelectorComponent.new(f) %>
    </div>
  </fieldset>

  <div class="actions">
    <% if debate.new_record? %>
      <div>
        <%= f.check_box :terms_of_service,
          title: t("form.accept_terms_title"),
          label: t("form.accept_terms",
                   policy: link_to(t("form.policy"), "/privacy", target: "blank"),
                   conditions: link_to(t("form.conditions"), "/conditions", target: "blank")
                  ) %>
      </div>
    <% end %>
    <%= f.submit(class: "button", value: t("debates.#{action_name}.form.submit_button")) %>
  </div>
<% end %>
