<main class="debate-new">
  <%=  debates_back_link_path %>

  <%= header do %>
    <% if feature?('help_page') %>
      <%= link_to help_path(anchor: "debates"), title: t("shared.target_blank"), target: "_blank" do %>
        <%= t("debates.new.more_info") %>
      <% end %>
    <% end %>
  <% end %>

  <aside>
    <%= helpers.render_custom_block 'debates_creation_recommendations' %>
  </aside>

  <%= render Debates::FormComponent.new(debate) %>
</main>
