<div id="<%= dom_id(deficiency_report) %>"
     class="deficiency-report clear"
     data-type="deficiency-report">

  <div class="panel <%= "with-image" if deficiency_report.image.present? %>">

    <% if deficiency_report.image.present? %>
      <div class="row">
        <div class="small-12 medium-3 large-2 column text-center">
          <%= image_tag deficiency_report.image_url(:thumb),
                        alt: deficiency_report.image.title.unicode_normalize %>
        </div>

        <div class="<%= css_for_deficiency_report_info_row(deficiency_report) %>">
    <% else %>
      <div class="row">
        <div class="<%= css_for_deficiency_report_info_row(deficiency_report) %>">
      <% end %>
        <div class="deficiency-report-content">
          <% cache [locale_and_user_status(deficiency_report), "index", deficiency_report, deficiency_report.author, params[:geozone_affiliation], params[:affiliated_geozones], params[:geozone_restriction], params[:restricted_geozones]] do %>
            <h3><%= link_to deficiency_report.title, deficiency_report %></h3>
            <p class="deficiency-report-info">
              <span class="icon-comments"></span>&nbsp;
              <%= link_to t("proposals.proposal.comments", count: deficiency_report.comments_count),
                          deficiency_report_path(deficiency_report, anchor: "comments") %>

              <span class="bullet">&nbsp;&bull;&nbsp;</span>
              <%= l deficiency_report.created_at.to_date %>

              <% if deficiency_report.author.hidden? || deficiency_report.author.erased? %>
                <span class="bullet">&nbsp;&bull;&nbsp;</span>
                <span class="author">
                  <%= t("proposals.show.author_deleted") %>
                </span>
              <% else %>
                <span class="bullet">&nbsp;&bull;&nbsp;</span>
                <span class="author">
                  <%= deficiency_report.author.name %>
                </span>
                <% if deficiency_report.author.display_official_position_badge? %>
                  <span class="bullet">&nbsp;&bull;&nbsp;</span>
                  <span class="label round level-<%= deficiency_report.author.official_level %>">
                    <%= deficiency_report.author.official_position %>
                  </span>
                <% end %>
              <% end %>

              <% if deficiency_report.author.verified_organization? %>
                <span class="bullet">&nbsp;&bull;&nbsp;</span>
                <span class="label round is-association">
                  <%= t("shared.collective") %>
                </span>
              <% end %>
            </p>

            <div class="deficiency-report-description">
              <p><%= deficiency_report.summary %></p>
            </div>
            <%= render "deficiency_reports/tags", taggable: deficiency_report, limit: 5 %>
          <% end %>
        </div>
      </div>

      <div class="small-12 medium-3 column deficiency-report-additional-info">
        <div>
          <%= render "deficiency_reports/status", deficiency_report: deficiency_report %>
        </div>

        <% if deficiency_reports_feature?('allow_voting') %>
          <div id="<%= dom_id(deficiency_report) %>_votes">
            <%= render "deficiency_reports/votes", deficiency_report: deficiency_report %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
