<%= content_for :body_class, "deficiency-report-show" %>
<% provide :title do %><%= @deficiency_report.title %><% end %>
<% content_for :meta_description do %><%= @deficiency_report.summary %><% end %>
<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: proposal_url(@deficiency_report),
              social_title: @deficiency_report.title,
              social_description: @deficiency_report.summary,
              twitter_image_url: (@deficiency_report.image.present? ? @deficiency_report.image_url(:thumb) : nil),
              og_image_url: (@deficiency_report.image.present? ? @deficiency_report.image_url(:thumb) : nil) %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposal_url(@deficiency_report) %>
<% end %>

<main>
  <% cache [locale_and_user_status(@deficiency_report),
            @deficiency_report,
            @deficiency_report.author,
            Flag.flagged?(current_user, @deficiency_report),
            @deficiency_report.status,
            @deficiency_report.category ] do %>
    <div class="proposal-show">
      <div id="<%= dom_id(@deficiency_report) %>" class="row">
        <div class="small-12 medium-9 column">
          <%= back_link_to deficiency_reports_path %>

          <h1><%= @deficiency_report.title %></h1>

          <%= render "deficiency_reports/info", deficiency_report: @deficiency_report %>


          <% if @deficiency_report.official_answer? %>
            <div class="deficiency-report-official-answer">
              <h3><%= t('custom.deficiency_reports.show.official_answer') %></h3>
              <%= @deficiency_report.official_answer %>
            </div>
          <% end %>

          <%= render "shared/globalize_locales", resource: @deficiency_report %>
          <%= translatable_form_for @deficiency_report, url: update_official_answer_deficiency_report_path do |f| %>
            <%= f.translatable_fields do |translations_form| %>
              <div class="small-12 column" >
                <%= translations_form.label :official_answer, t('custom.deficiency_reports.show.official_answer') %>
                <%= translations_form.text_field :official_answer, label: false %>
              </div>

              <div class="actions small-12 column">
                <%= f.submit(class: "button", value: 'Submit') %>
              </div>
            <% end %>

          <% end %>
        </div>

        <aside class="small-12 medium-3 column">
          <div class="sidebar-divider"></div>
          <h2><%= t("custom.deficiency_reports.show.sidebar.status") %></h2>
          <% if @deficiency_report.status.present? %>
            <div class="deficiency-report-status" style=<%= "color:#{@deficiency_report.status.color}" %> >
              <i class="fas fa-<%= "#{@deficiency_report.status.icon}" %>"></i>
              <%= @deficiency_report.status.title %>
            </div>
          <% end %>

          <%= form_for @deficiency_report, url: update_status_deficiency_report_path do |f| %>
            <%= f.select :deficiency_report_status_id, DeficiencyReport::Status.all.collect{ |df| [df.title, df.id] }, { label: false , prompt: 'Please select to update'}, {onchange: "this.form.submit();" } %>
          <% end %>

          <div class="sidebar-divider"></div>
          <h2><%= t("custom.deficiency_reports.show.sidebar.category") %></h2>
          <% if @deficiency_report.category.present? %>
            <div class="deficiency-report-category" style=<%= "color:#{@deficiency_report.category.color}" %> >
              <%= @deficiency_report.category.name %>
              <i class="fas fa-<%= "#{@deficiency_report.category.icon}" %>"></i>
            </div>
          <% end %>

          <%= form_for @deficiency_report, url: update_category_deficiency_report_path do |f| %>
            <%= f.select :deficiency_report_category_id, DeficiencyReport::Category.all.collect{ |df| [df.name, df.id] }, { label: false, prompt: 'Please select to update' }, { onchange: "this.form.submit();" } %>
          <% end %>

          <div class="sidebar-divider"></div>
          <h2><%= t("custom.deficiency_reports.show.sidebar.officer") %></h2>
          <% if @deficiency_report.officer.present? %>
            <div class="deficiency-report-officer">
              <%= @deficiency_report.officer.name %>
            </div>
          <% end %>

          <%= form_for @deficiency_report, url: update_officer_deficiency_report_path do |f| %>
            <%= f.select :deficiency_report_officer_id, DeficiencyReport::Officer.all.collect{ |df| [df.name, df.id] }, { label: false, prompt: 'Please select to update' }, { onchange: "this.form.submit();" } %>
          <% end %>

          <%= render "proposals/social_share", proposal: @deficiency_report, share_title: t("proposals.show.share") %>
        </aside>

      </div>
    </div>
  <% end %>

  <% if deficiency_reports_feature?('enable_comments') %>
    <div class="additional-content">
      <div class="filter-subnav">
        <div class="row">
          <div class="small-12 column">
            <%= render "deficiency_reports/filter_subnav" %>
          </div>
        </div>
      </div>
    </div>

    <div class="tabs-content" data-tabs-content="proposals_tabs">
      <div class="tabs-panel is-active" id="tab-comments">
        <%= render "deficiency_reports/comments" %>
      </div>
    </div>
  <% end %>
</main>
