<tr class="projekt_phase_settings" style='vertical-align:top;' >
  <td>
    <%= t("custom.admin.projekts.edit.projekt_phases_tab.#{phase_name}") %>
    <div>
      <small>
        <%= "/#{@projekt.page.slug}?selected_phase_id=#{projekt_phase.id}"  %>
      </small>
    </div>
  </td>
  <td>
    <%= form_for(@projekt, url: admin_projekt_path, as: :projekt) do |f| %>
      <%= hidden_field_tag :tab, '#tab-projekt-phases' %>

      <%= f.fields_for phase_name.to_s do |phase_form| %>
        <div style='display: flex'>
          <div style='flex-grow:1'>
            <%= phase_form.date_field :start_date, label: false %>
          </div>
          <div style='flex-grow:1'>
            <%= phase_form.date_field :end_date, label: false %>
          </div>
        </div>

        <% unless phase_name.in?(['milestone_phase', 'voting_phase']) %>
          <strong class='geo-restriction-title'><span class='geo-restriction-icon'><%= t("custom.admin.projekts.edit.projekt_phases_tab.restriction") %></span></strong>
          <%= render partial: 'custom/admin/projekts/edit/projekt_phases/phase_geozone_restriction', locals: { phase_form: phase_form, projekt_phase: projekt_phase, phase_name: phase_name } %>
        <% end %>
      <% end %>

      <%= f.submit(t("custom.admin.projekts.edit.update"), class: "button success") %>
    <% end %>
  </td>

  <td>
    <%= render Admin::LivesubmitCheckbox::Component.new(url: liveupdate_admin_projekt_path, resource_name: "projekt[#{phase_name}_attributes]", attribute_name: 'info_active',  id: @projekt.send(phase_name.to_sym).id, current_value: @projekt.send(phase_name.to_sym).info_active) %>
  </td>

  <td>
    <% if phase_name == 'budget_phase'  %>
      <%= link_to t("custom.admin.projekts.edit.projekt_phases_tab.link.budget_phase"), admin_budgets_path, target: '_blank' %>
    <% elsif phase_name == 'voting_phase'  %>
      <%= link_to t("custom.admin.projekts.edit.projekt_phases_tab.link.voting_phase"), admin_polls_path, target: '_blank' %>
    <% else %>
      <%= render Admin::LivesubmitCheckbox::Component.new(url: liveupdate_admin_projekt_path, resource_name: "projekt[#{phase_name}_attributes]", attribute_name: 'active', id: @projekt.send(phase_name.to_sym).id, current_value: @projekt.send(phase_name.to_sym).active) %>
    <% end %>
  </td>
</tr>
