<%= form_for(@projekt, url: admin_projekt_path, as: :projekt) do |f| %>
  <%= hidden_field_tag :tab, '#tab-projekt-phases' %>

  <%= render "shared/errors", resource: @projekt %>

  <div class="clear">
    <div class="small-12 medium-6 large-4 column">
      <%= f.text_field :color, label: t("custom.admin.projekts.edit.design.color"),
        placeholder: t('custom.admin.projekts.edit.design.color_placeholder') %>
    </div>
  </div>

  <div class="clear">
    <div class="small-12 column">
      <%= f.label :icon, t("custom.admin.projekts.edit.design.icon")  %>
      <div class='icons-selector'>
        <%= f.collection_radio_buttons :icon, Iconable::AVAILABLE_ICONS, :first, :first do |rb| %>
          <%= rb.label { rb.radio_button + "<i class=\"fas fa-#{rb.object.first}\"></i>".html_safe } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="small-12 column">
    <%= f.submit(value: t("custom.admin.projekts.edit.design.submit_button"),
                class: "button success") %>
  </div>
<% end %>
