<tr class="projekt_phase_settings" style='vertical-align:top;' >
  <td>
    <%= t("custom.admin.projekts.edit.projekt_phases_tab.#{phase_name}") %>
  </td>
  <td>
    <%= form_for(@projekt, url: admin_projekt_path, as: :projekt) do |f| %>
      <%= hidden_field_tag :tab, '#tab-projekt-phases' %>

      <%= f.fields_for phase_name.to_s do |phase_form| %>
        <div style='display: flex'>
          <div style='flex-grow:1'>
            <%= phase_form.date_field :start_date, label: false %>
          </div>
          <div style='flex-grow:1'>
            <%= phase_form.date_field :end_date, label: false %>
          </div>
        </div>

        <% unless phase_name == 'milestone_phase' %>
          <strong class='geo-restriction-title'><span class='geo-restriction-icon'><%= t("custom.admin.projekts.edit.projekt_phases_tab.restriction") %></span></strong>
          <%= render partial: 'custom/admin/projekts/edit/projekt_phases/phase_geozone_restriction', locals: { phase_form: phase_form, projekt_phase: projekt_phase, phase_name: phase_name } %>
        <% end %>
      <% end %>

      <%= f.submit(t("custom.admin.projekts.edit.update"), class: "button success") %>
    <% end %>
  </td>
  <td>
    <%= render Admin::Settings::FeaturedSettingsFormComponent.new(feature_phase_info, tab: '#tab-projekt-phases') %>
  </td>
  <td>
    <%= render Admin::Settings::FeaturedSettingsFormComponent.new(feature_phase_active, tab: '#tab-projekt-phases') %>
  </td>
</tr>
