<div class='projekt-phase-geozone-restriction-selector'>

  <%= phase_form.radio_button :geozone_restricted, 'no_restriction',
                             label: t('custom.geozones.sidebar_filter.no_restriction' ),
                             checked: ( @projekt.send(phase_name).geozone_restricted.blank? || @projekt.send(phase_name).geozone_restricted == 'no_restriction' ) %>
  <br>

  <%= phase_form.radio_button :geozone_restricted, 'only_citizens', label: t('custom.geozones.sidebar_filter.only_citizens') %>
  <br>

  <%= phase_form.radio_button :geozone_restricted, 'only_geozones', label: t('custom.geozones.sidebar_filter.only_geozones'), class: "#{phase_name}_only_geozones" %>

  <div class="projekt-phase-geozone-selector <%= phase_name %>">
    <%= phase_form.collection_check_boxes(:geozone_limitation_ids, Geozone.all, :id, :name) %>
  </div>
</div>
