<%= translatable_form_for(@projekt, url: namespace_projekt_path(@projekt), as: :projekt) do |f| %>

  <%= hidden_field_tag :tab, '#tab-projekt-phases' %>
  <%= hidden_field_tag :namespace, params[:controller].include?('projekt_management') ? 'projekt_management' : '' %>

  <table class='edit-projekt margin-top'>
    <thead>
      <th scope="col" class="small-3"><%= t("custom.admin.projekts.edit.projekt_phases_tab.beginning") %></th>
      <th scope="col" class="small-3"><%= t("custom.admin.projekts.edit.projekt_phases_tab.ending") %></th>
    </thead>
    <tbody>

      <tr style="border-bottom:none;" >
        <td>
          <%= f.date_field :total_duration_start, label: false %>
        </td>
        <td>
          <%= f.date_field :total_duration_end, label: false %>
        </td>
      </tr>

      <tr style="border-bottom:none;border-top:none;" >
        <td colspan="2">

          <strong class='geo-affiliation-title'><span class='geo-affiliation-icon'><%= t("custom.admin.projekts.edit.projekt_phases_tab.affiliation") %></span></strong>
          <%= render partial: 'custom/admin/projekts/edit/projekt_phases/phase_geozone_affiliation', locals: { f: f } %>
        </td>
      </tr>

      <tr style='border-bottom:none;border-top:none;'>
        <td colspan="2">
          <%= render "shared/globalize_locales", resource: @projekt %>
          <%= f.translatable_fields do |translations_form| %>
            <div>
              <%= translations_form.text_area :description,
                                              rows: 4, maxlength: 200,
                                              label: t('custom.admin.projekts.edit.description') %>
            </div>
          <% end %>
        </td>
      </tr>

      <tr style='border-top:none;'>
        <td colspan="2">
          <div class="images">
            <%= render "images/nested_image", imageable: @projekt, f: f %>
          </div>
        </td>
      </tr>


    </tbody>
  </table>

  <div>
    <%= f.submit(t("custom.admin.projekts.edit.update"), class: "button success") %>
  </div>
<% end %>
