<nav class="margin-bottom <%= "legislation-process-list" if true %>">
  <div class="row">
    <div class="small-12 column">
      <div style='display:flex;justify-content:space-between;align-items:end;'>
        <h3><%= "Beteiligung" %></h3>
        <% if show_arrows? %>
          <div class='arrow-controls'>
            <div id='left-arrow-control' class='js-left-arrow-control disabled'>
              <i class="fas fa-chevron-circle-left"></i>
            </div>
            <div id='right-arrow-control' class='js-right-arrow-control'>
              <i class="fas fa-chevron-circle-right"></i>
            </div>
          </div>
        <% end %>
      </div>


      <div class='footer-phases-filter-subnav'>

        <ul id='filter-subnav' class='key-dates'>
          <%= render Pages::Projekts::FooterPhaseTabComponent.new(projekt.comment_phase, default_phase_name, @comments_count) %>
          <%= render Pages::Projekts::FooterPhaseTabComponent.new(projekt.debate_phase, default_phase_name, @debates_count) %>
          <%= render Pages::Projekts::FooterPhaseTabComponent.new(projekt.proposal_phase, default_phase_name, @proposals_count) %>
          <%= render Pages::Projekts::FooterPhaseTabComponent.new(projekt.question_phase, default_phase_name, @projekt_questions_count) %>
          <%= render Pages::Projekts::FooterPhaseTabComponent.new(projekt.argument_phase, default_phase_name, @projekt_argumens_count) %>
          <%= render Pages::Projekts::FooterPhaseTabComponent.new(projekt.voting_phase, default_phase_name, @polls_count) %>
          <%= render Pages::Projekts::FooterPhaseTabComponent.new(projekt.budget_phase, default_phase_name) %>
          <%= render Pages::Projekts::FooterPhaseTabComponent.new(projekt.legislation_process_phase, default_phase_name, @legislation_processes_count) %>
          <%= render Pages::Projekts::FooterPhaseTabComponent.new(projekt.projekt_notification_phase, default_phase_name, @projekt_notifications_count) %>
          <%= render Pages::Projekts::FooterPhaseTabComponent.new(projekt.milestone_phase, default_phase_name, @milestones_count) %>
          <%= render Pages::Projekts::FooterPhaseTabComponent.new(projekt.event_phase, default_phase_name, @projekt_events_count) %>
          <%= render Pages::Projekts::FooterPhaseTabComponent.new(projekt.newsfeed_phase, default_phase_name) %>
        </ul>
      </div>
    </div>
  </div>
</nav>
