<nav class="margin-bottom <%= "legislation-process-list" if true %>">
  <div class="row">
    <div class="small-12 column">
      <div style='display:flex;justify-content:space-between;align-items:end;'>
        <h3><%= "Beteiligung" %></h3>
        <% if @phases.size > 4 %>
          <div class='arrow-controls'>
            <div id='left-arrow-control' class='js-left-arrow-control disabled'>
              <i class="fas fa-chevron-circle-left"></i>
            </div>
            <div id='right-arrow-control' class='js-right-arrow-control'>
              <i class="fas fa-chevron-circle-right"></i>
            </div>
          </div>
        <% end %>
      </div>


      <div class='footer-phases-filter-subnav'>

        <ul id='filter-subnav' class='key-dates'>
          <% @phases.each do |phase| %>

            <% if phase.phase_info_activated? %>
              <li id="filter-subnav-<%= phase.resources_name %>" class="page-subnav-tab <%= 'is-active' if phase.resources_name == default_phase_name %>">
                <%= link_to "/#{projekt.id}/#{phase.name}_footer_tab", remote: true, onclick: '$("#footer-content").addClass("show-loader")' do %>
                  <h4>
                    <%= t("custom.projekts.page.tabs.#{phase.resources_name}") %>
                    <% if phase.resources_name.in?(['debates', 'proposals', 'polls', 'comments']) %>
                      <% count = instance_variable_get("@#{phase.resources_name}_count") %>
                      <%= "(#{count})" %>
                    <% end %>
                  </h4>
                  <div class='tab-info-summary'>
                    <% if phase.start_date.present? && phase.end_date.present? %>
                      <span class='time-icon'><%= format_date_range(phase.start_date, phase.end_date) %></span>
                    <% end %>

                    <% unless get_projekt_phase_restriction_name(phase, nil, true) == 'no_restriction' %>
                      <span class='geo-restriction-icon'><%= get_projekt_phase_restriction_name(phase) %></span>
                    <% end %>
                  </div>
                <% end %>
              </li>
            <% end %>

          <% end %>

          <% if milestone_phase.phase_info_activated? %>
            <li id="filter-subnav-<%= milestone_phase.resources_name %>" class="page-subnav-tab <%= 'is-active' if milestone_phase.resources_name == default_phase_name %>">
              <%= link_to "/#{projekt.id}/#{milestone_phase.name}_footer_tab", remote: true, onclick: '$("#footer-content").addClass("show-loader")' do %>
                <h4>
                  <%= t("custom.projekts.page.tabs.#{milestone_phase.resources_name}") %>
                  <%= "(#{projekt.milestones.count})" %>
                </h4>
                <div class='tab-info-summary'>
                  <% if @projekt.milestones.any? %>
                  <span class='time-icon'><%= format_date(@projekt.milestones.last.publication_date.to_date) %></span>
                  <% end %>
                </div>
              <% end %>
            </li>
          <% end %>

          <% if projekt_notification_phase.phase_info_activated? %>
            <li id="filter-subnav-<%= projekt_notification_phase.resources_name %>" class="page-subnav-tab <%= 'is-active' if projekt_notification_phase.resources_name == default_phase_name %>">
              <%= link_to "/#{projekt.id}/#{projekt_notification_phase.name}_footer_tab", remote: true, onclick: '$("#footer-content").addClass("show-loader")' do %>
                <h4>
                  <%= t("custom.projekts.page.tabs.#{projekt_notification_phase.resources_name}") %>
                  <%= "(#{projekt.projekt_notifications.count})" %>
                </h4>
                <div class='tab-info-summary'>
                  <% if @projekt.projekt_notifications.any? %>
                  <span class='time-icon'><%= format_date(@projekt.projekt_notifications.last.updated_at.to_date) %></span>
                  <% end %>
                </div>
              <% end %>
            </li>
          <% end %>

          <% if newsfeed_phase.phase_info_activated? %>
            <li id="filter-subnav-<%= newsfeed_phase.resources_name %>" class="page-subnav-tab <%= 'is-active' if newsfeed_phase.resources_name == default_phase_name %>">
              <%= link_to "/#{projekt.id}/#{newsfeed_phase.name}_footer_tab", remote: true, onclick: '$("#footer-content").addClass("show-loader")' do %>
                <h4>
                  <%= t("custom.projekts.page.tabs.#{newsfeed_phase.resources_name}") %>
                </h4>
              <% end %>
            </li>
          <% end %>

        </ul>
      </div>

    </div>
  </div>
</nav>
