<div class="sidebar-divider hide-for-small-only"></div>

<h2 class="sidebar-title hide-for-small-only"><%= t("custom.projekt.page.sidebar.phases.title") %></h2>

<div class='sidebar-projekt-phases'>

  <% if @phases.any? { |phase| phase.current? } %>
    <span class='sidebar-projekt-phases-title'><%= t('custom.projekts.page.sidebar.phases.participate') %></span>
  <% end %>

  <% @phases.each do |phase| %>
    <div class="sidebar-projekt-phase <%= 'active' if phase.current? %>">
      <div class='sidebar-projekt-phase-status'>
      </div>
      <div class='sidebar-projekt-phase-details'>
        <span class='sidebar-projekt-phase-name'>
          <%= phase_name(phase) %>
          <%= link_to "/#{projekt.id}/#{phase.name}_footer_tab", remote: true, onclick: '$("html, body").animate({scrollTop: $("#filter-subnav").offset().top}); $("#footer-content").addClass("show-loader");' do %>
            <i class="fas fa-long-arrow-alt-right"></i>
          <% end %>
        </span>
        <span class='sidebar-projekt-phase-duration'><%= format_date_range(phase.start_date, phase.end_date) %></span>

        <% if phase.name == 'budget_phase' && projekt.budget.present? %>
          <div class='sidebar-projekt-budget-phases'>
            <%= render Pages::Projekts::SidebarBudgetPhasesComponent.new(projekt.budget) %>
          </div>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
