<%= content_for :body_class, "custom-page" %>
<% provide :title do %><%= @custom_page.title %><% end %>

<main>
  <div class="row">
    <div class="column">
      <% if @custom_page.projekt.present? %>
        <%= render partial: 'breadcrumbs', locals: { current_page: @custom_page } %>
        <div class='breadcrumbs-item'>
          <%= @custom_page.projekt.name %>
        </div >
      <% end %>

      <h1><%= @custom_page.title %></h1>
      <% if @custom_page.subtitle.present? %>
        <h2><%= @custom_page.subtitle %></h2>
      <% end %>

      <% if @custom_page.projekt.present? %>
        <div class="row">
          <div class="small-12 medium-9 column">
            <%= render 'custom_page_content' %>
          </div>

          <div class="small-12 medium-3 column">
            <%= render partial: 'pages/sidebar/projekts_sidebar', locals: { projekt: @custom_page.projekt } %>
          </div>
        </div>
      <% else %>
        <%= render 'custom_page_content' %>
      <% end %>

    </div>
  </div>
</main>
