<%= content_for :body_class, "custom-page" %>
<% provide :title do %><%= @custom_page.title %><% end %>

<style>
  <% if @custom_page.image.present? %>
    .custom-page-banner {
      background-image: url("<%=@custom_page.image.attachment.url%>");
      background-size: cover;
      background-position: center center;
    }
  <% end %>
</style>

<main>
  <% if @custom_page.image.present? %>
    <div class="custom-page-banner">
    </div>
  <% end %>
  <div class="row">
    <div class="column">
      <% if @custom_page.projekt.present? %>
        <%= breadcrumbs_links(@custom_page.projekt) %>
      <% end %>

      <div class="row">
        <div class="small-12 medium-9 column">
          <h1><%= @custom_page.title %></h1>
          <% if @custom_page.subtitle.present? %>
            <h2><%= @custom_page.subtitle %></h2>
          <% end %>
        </div>
      </div>

      <% if @custom_page.projekt.present? %>
        <div class="row">
          <div class="small-12 medium-9 column margin-bottom">
            <% if @custom_page.content.include?('template_projekt_library') %>
              <%= render 'projekt_library' %>
            <% else %>
              <%= render 'custom_page_content' %>
            <% end %>
          </div>

          <div class="small-12 medium-3 column margin-bottom">
            <%= render partial: 'pages/sidebar', locals: { projekt: @custom_page.projekt } %>
          </div>
        </div>

      <% else %>
        <div class="row">
          <div class="small-12 medium-9 column">
            <%= render 'custom_page_content' %>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <% if @custom_page.projekt.present? && projekt_feature?(@custom_page.projekt, 'general.show_projekt_footer') %>
    <%= render Pages::Projekts::FooterPhasesComponent.new(@custom_page.projekt, @default_phase_name) %>

    <div id='footer-content'>
      <%= render 'shared/loader_spinner' %>
      <%= render "pages/projekt_footer/#{@default_phase_name}" %>
    </div>
  <% end %>
</main>

<script>
  App.Projekts.toggleDefaultProjekts();
</script>
