<%= content_for :body_class, "custom-page" %>
<% provide :title do %><%= @custom_page.title %><% end %>

<main>
  <div class="row margin-top">
    <div class="column">
      <% if @custom_page.projekt.present? %>
        <%= render partial: 'breadcrumbs', locals: { current_page: @custom_page } %>
        <div class='breadcrumbs-item'>
          <%= @custom_page.projekt.name %>
        </div >
      <% end %>

      <h1><%= @custom_page.title %></h1>
      <% if @custom_page.subtitle.present? %>
        <h2><%= @custom_page.subtitle %></h2>
      <% end %>

      <div class="row">
        <div class="small-12 medium-9 column">
          <%= auto_link_already_sanitized_html AdminWYSIWYGSanitizer.new.sanitize(@custom_page.content) %>

          <% if @custom_page.print_content_flag %>
            <div class="row">
              <%= render "/shared/print" %>
            </div>
          <% end %>

          <% if @cards.any? %>
            <div class="row">
              <%= render "shared/cards" %>
            </div>
          <% end %>
        </div>

        <% if @custom_page.projekt.present? %>
          <div class="small-12 medium-3 column">
            <%= render partial: 'pages/sidebar/projekts_sidebar', locals: { projekt: @custom_page.projekt } %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</main>
