<% if phase_name && projekt_phase_active?(projekt, phase_name) %>
  <div class='projekt-phase-details'>
    <span class="time-icon">
      <%= get_projekt_phase_duration(projekt.send(phase_name)) %>
    </span>

    <br>
    <span class="geo-affiliation-icon">
      <%= get_projekt_affiliation_name(projekt) %>
    </span>

    <% unless skip_user_verification? %>
      <br>
      <span class="geo-restriction-icon">
        <%= get_projekt_phase_restriction_name(projekt.send(phase_name)) %>
      </span>
    <% end %>
  </div>
<% elsif phase_name && !projekt_feature?(projekt, 'general.show_not_active_phases_in_projekts_page_sidebar') %>
  <div class='projekt-phase-details'>
    <%= t('custom.projekt.page.sidebar.phases.debate_phase_not_active') if phase_name == 'debate_phase' %>
    <%= t('custom.projekt.page.sidebar.phases.proposal_phase_not_active') if phase_name == 'proposal_phase' %>
  </div>
<% end %>
