<% if comments_allowed? %>
  <%= render "comments/form", { commentable: @projekt, parent_id: nil } %>

<% elsif user_signed_in? && @projekt.present? %>
  <div class='callout alert'>
    <% if !current_user.level_two_or_three_verified? %>
      <%= t('custom.comments.restricted.not_verified', verify_account: link_to_verify_account).html_safe %>

    <% elsif !@projekt.comment_phase.current? %>
      <%= t('custom.comments.restricted.projekt_phase_not_active')%>

    <% else %>
      <%= t('custom.comments.restricted.other')%>

    <% end %>
  </div>

<% elsif user_signed_in? && @projekt.nil? %>
  <div class='callout success'>
  <%= t('custom.comments.restricted.other')%>
  </div>

<% else %>
  <%= render "shared/login_to_comment" %>

<% end %>
