<% projekt_links = Projekt.all.order(:id).map do |projekt|
    next unless can?( :edit, projekt)
    [projekt.name, edit_projekt_management_projekt_path(projekt), projekt == @projekt] 
  end %>

<ul class='admin-menu' data-accordion-menu data-multi-open="true">
  <li>
    <a href="#" class="projekts-link"><%= t("custom.admin.menu.projekts") %></a>
    <%= link_list(
      *projekt_links,
      id: "projekt_management_menu",
      class: ('is-active' if true)
    ) %>
  </li>

	<li class="<%= "is-active" if controller_name == "proposals" %>">
		<%= link_to t("admin.menu.proposals"), projekt_management_proposals_path, class: "proposals-link" %>
	</li>

	<li class="<%= "is-active" if controller_name == "debates" %>">
		<%= link_to t("admin.menu.debates"), projekt_management_debates_path, class: "debates-link" %>
	</li>

  <li class="<%= "is-active" if controller_name == "comments" %>">
    <%= link_to t("admin.menu.comments"), projekt_management_comments_path, class: "comments-link" %>
  </li>
</ul>
