<%= translatable_form_for(investment, url: url, html: { class: "budget-investment-form" }) do |f| %>

  <%= render "shared/errors", resource: investment %>

  <fieldset class="required-fields">
    <legend><%= t("custom.budgets.investments.form.required") %></legend>

    <% unless budget.single_heading? %>
      <div>
        <%= f.select :heading_id, budget_heading_select_options(budget), { include_blank: true } %>
      </div>
    <% end %>

    <% if projekt_feature?(investment&.projekt, 'budgets.show_implementation_option_fields')  %>
      <div>
        <%= f.select :implementation_performer, options_for_implementation_select, {}, { class: 'implementation-performer show-arrow', onChange: "$(this).val() === 'user' ? $('#implementation_contribution').css('display', 'block') : $('#implementation_contribution').css('display', 'none')" } %>
      </div>

      <div id='implementation_contribution' style="display:<%= investment.implementation_performer == 'user' ? 'block' : 'none' %>">
        <%= f.text_field :implementation_contribution %>
      </div>
    <% end %>

    <% if projekt_feature?(investment.projekt, 'budgets.show_user_cost_estimate') %>
      <%= f.text_field :user_cost_estimate %>
    <% end %>

    <% if projekt_feature?(budget&.projekt, 'budgets.show_map') %>
      <div>
        <%= render "map_locations/form_fields",
                   form:     f,
                   map_location: investment.map_location || investment&.projekt&.map_location || MapLocation.new,
                   label:    t("budgets.investments.form.map_location"),
                   help:     t("budgets.investments.form.map_location_instructions"),
                   remove_marker_label: t("budgets.investments.form.map_remove_marker"),
                   parent_class: "budget_investment",
                   i18n_namespace: "budgets.investments" %>
      </div>
    <% end %>

    <div>
      <%= render "shared/globalize_locales", resource: investment %>
    </div>

    <%= f.translatable_fields do |translations_form| %>
      <div>
        <%= translations_form.text_field :title,
              maxlength: Budget::Investment.title_max_length,
              data: suggest_data(investment) %>
      </div>
      <div class="js-suggest" data-locale="<%= translations_form.locale %>"></div>

      <div>
        <%= translations_form.text_area :description,
              maxlength: Budget::Investment.description_max_length,
              class: "html-area #{helpers.ck_editor_class(current_user)}" %>
      </div>
    <% end %>
  </fieldset>

  <%= f.invisible_captcha :subtitle %>

  <fieldset>
    <legend><%= t("shared.optional") %></legend>

    <% if feature?(:allow_images) %>
      <div class="images">
        <%= render "images/nested_image", f: f %>
      </div>
    <% end %>

    <% if feature?(:allow_attached_documents) %>
      <div class="documents">
        <%= render "documents/nested_documents", f: f %>
      </div>
    <% end %>

    <div>
      <%= f.text_field :organization_name %>
    </div>
  </fieldset>

  <div class="actions">
    <% unless current_user.manager? || investment.persisted? %>
      <div>
        <%= f.check_box :terms_of_service,
          title: t("form.accept_terms_title"),
          label: t("form.accept_terms",
                   policy: link_to(t("form.policy"), "/privacy", target: "blank"),
                   conditions: link_to(t("form.conditions"), "/conditions", target: "blank")
                  ) %>
      </div>
    <% end %>

    <%= f.submit %>
  </div>
<% end %>
