<div class='small-12 medium-7 projekt-argument' id="<%= dom_id(projekt_argument) %>">
  <%= check_box_tag "edit_projekt_argument_#{ dom_id(projekt_argument) }" %>
  <%= label_tag nil, nil, for: "edit_projekt_argument_#{ dom_id(projekt_argument) }", class: 'edit-projekt-argument' %>

  <div class='projekt-argument-content'>
    <div class="projekt-argument-image-column">
      <% if projekt_argument.image.present? %>
        <%= image_tag(projekt_argument.image_url(:medium)) %>
      <% end %>
    </div>

    <div class="projekt-argument-text-column">
      <p class="projekt-argument-row">
        <b><%= t("custom.admin.projekts.edit.projekt_arguments_tab.argument_name") %>:</b>
        <%= projekt_argument.name %>
      </p>
      <p class="projekt-argument-row">
        <b><%= t("custom.admin.projekts.edit.projekt_arguments_tab.argument_party") %>:</b>
        <%= projekt_argument.party %>
      </p>
      <p class="projekt-argument-row">
        <b><%= t("custom.admin.projekts.edit.projekt_arguments_tab.argument_position") %>:</b>
        <%= projekt_argument.position %>
      </p>
      <p class="projekt-argument-row">
        <b><%= t("custom.admin.projekts.edit.projekt_arguments_tab.argument_note") %>:</b>
        <%= projekt_argument.note %>
      </p>
    </div>
  </div>

  <div class='edit-projekt-argument-form'>
    <%= render partial: 'custom/admin/projekts/edit/projekt_arguments/form', locals: { url: admin_projekt_projekt_argument_path(@projekt, projekt_argument), projekt: @projekt, projekt_argument: projekt_argument } %>
  </div>

  <%= link_to '', admin_projekt_projekt_argument_path(@projekt, projekt_argument, namespace: @namespace), method: :delete, class: 'delete-projekt-argument' %>
  <hr>
</div>
