<div id="<%= dom_id(card) %>"
     class="card-homepage small-12 medium-<%= card.columns %> column margin-bottom end">
  <%= link_to card.link_url do %>
    <% if card.image.present? %>
      <%= image_tag(card.image_url(:large), alt: card.image.title) %>
    <% end %>

    <h3><%= card.title %></h3>
  <% end %>
</div>
