<% @latest_items.each do |resource| %>
  <% if resource.is_a?(Budget::Investment) %>
    <% budget = resource.budget %>
    <% query = Budget::Ballot.where(user: current_user, budget: budget) %>
    <% ballot = budget.balloting? ? query.first_or_create! : query.first_or_initialize %>

		<%= render "/budgets/investments/investment",
							 investment: resource,
							 investment_ids: budget.investments.ids,
               ballot: budget.balloting? ? query.first_or_create! : query.first_or_initialize %>
  <% else %>
		<%= render resource %>
  <% end %>
<% end %>


<div class='links-entries margin-bottom clearfix'>
  <%= link_to t('custom.welcome.all_proposals'), proposals_path, class: 'float-right'  %>
  <%= link_to t('custom.welcome.all_debates'), debates_path, class: 'float-right margin-right'  %>
</div>


<% if extended_feature?("general.links_to_create_resources_in_menu") &&
  ( Projekt.top_level.selectable_in_selector('debates', current_user).any? ||
    Projekt.top_level.selectable_in_selector('proposals', current_user).any? ) %>

  <div class='new-entry text-center'>
    <%= button_tag t('custom.welcome.start_entry'), class: 'button hollow', onclick: '$(".new-entries").toggleClass("hide")' %>
  </div>

  <div class='new-entries text-center hide'>
    <% if Projekt.top_level.selectable_in_selector('debates', current_user).any? %>
      <%= link_to t('custom.welcome.start_debate'), new_debate_path, class: 'button' %>
    <% end %>

    <% if Projekt.top_level.selectable_in_selector('proposals', current_user).any? %>
      <%= link_to t('custom.welcome.start_proposal'), new_proposal_path, class: 'button' %>
    <% end %>
  </div>
<% end %>
