<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<main>
  <%= render "header", header: @header %>

  <div class="row">
    <div class="column medium-9 small-centered">
      <%= render_custom_block 'home_page_1' %>
    </div>
  </div>

  <% if @cards.any? %>
    <div class="row">
      <div class="column medium-9 small-centered margin-bottom">
        <div class="row">
          <div class="small-12 column">
            <%= render partial: "cards", locals: { cards: @cards, section_title: t("welcome.cards.title") } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column medium-9 small-centered">
      <%= render_custom_block 'home_page_2' %>
    </div>
  </div>

  <% if @active_projekts.any? %>
    <div class="row">
      <div class="column medium-9 small-centered margin-bottom">
        <%= render partial: "projekt_cards", locals: { projekts: @active_projekts, section_title: t("custom.welcome.active_projekt_cards.title")  } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column medium-9 small-centered">
      <%= render_custom_block 'home_page_3' %>
    </div>
  </div>

  <% if @latest_polls.any? %>
    <div class="row">
      <div class="column medium-9 small-centered margin-bottom">
        <h3 class='title card-title'><%= t('custom.welcome.current_polls') %></h3>
        <%= render partial: "polls/poll_group", locals: { poll_group: @latest_polls } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column medium-9 small-centered">
      <%=render_custom_block 'home_page_4' %>
    </div>
  </div>

  <% if @latest_items.any? %>
    <div class="row">
      <div class="column medium-9 small-centered margin-bottom">
        <h3 class='title card-title'><%= t('custom.welcome.user_entries') %></h3>
        <%= render "latest_items" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column medium-9 small-centered">
      <%=render_custom_block 'home_page_5' %>
    </div>
  </div>

  <% if @expired_projekts.any? %>
    <div class="row">
      <div class="column medium-9 small-centered margin-bottom">
        <%= render partial: "projekt_cards", locals: { projekts: @expired_projekts, section_title: t("custom.welcome.expired_projekt_cards.title")  } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column medium-9 small-centered">
      <%=render_custom_block 'home_page_6' %>
    </div>
  </div>
</main>
