<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<main>
  <%= render "header", header: @header %>

  <div class="row">
    <div class="column medium-8 small-centered">
      <div class=intro-text>
        <%=render_custom_block 'home_page_1' %>
      </div>
    </div>
  </div>

  <% if @active_projekt_cards.any? %>
    <div class="row">
      <div class="column medium-8 small-centered">
        <%= render partial: "cards", locals: { cards: @active_projekt_cards, section_title: t("custom.welcome.active_projekt_cards.title")  } %>
      </div>
    </div>
  <% end %>

  <% if @archived_projekt_cards.any? %>
    <div class="row">
      <div class="column medium-8 small-centered">
        <%= render partial: "cards", locals: { cards: @archived_projekt_cards, section_title: t("custom.welcome.archived_projekt_cards.title")  } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column medium-8 small-centered">
      <% if @cards.any? %>
        <div class="row">
          <div class="small-12 column <%= "large-8" if feed_processes_enabled? %>">
            <%= render partial: "cards", locals: { cards: @cards, section_title: t("welcome.cards.title") } %>
          </div>
        </div>
      <% end %>

      <% if feed_processes_enabled? %>
        <div class="row">
          <div class="small-12 large-4 column">
            <%= render "processes" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="column medium-8 small-centered">
      <%= render "feeds" %>
    </div>
  </div>

  <% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
    <%= render "recommended",
                recommended_debates: @recommended_debates,
                recommended_proposals: @recommended_proposals %>
  <% end %>
</main>
