<div class="sidebar-divider"></div>
<h2 class="sidebar-title"><%= t("shared.tags_cloud.categories") %></h2>
<br>

<ul id="categories" class="no-bullet categories">
  <%tag_names = @categories.map &:name%>
  <%selected_categories = []%>
  <% @categories.each do |category| %>
    <li class="inline-block">
      <%tag_selected = params[:tags] && params[:tags].split(',').include?(category.name)%>
      <%selected_categories << category.name if tag_selected%>
      <%css_class = { class: "is-active" } if tag_selected %>
      <%tags = params[:tags] ? params[:tags].split(',') : []%>
      <%tags.delete_if do |t| !tag_names.include?(t) && !tag_selected end%>
      <%tag_selected ? tags.delete(category.name) : tags << category.name%>
      <%= link_to category.name, send("#{model.pluralize}_path", tags: tags.join(","), filter: params[:filter]), css_class || {} %>
    </li>
  <% end %>
</ul>
<%if @subcategories&.any?%>
  <div class="sidebar-divider"></div>
  <h2 class="sidebar-title"><%= t("shared.tags_cloud.subcategories") %>

</h2>
  <br>
  <ul id="categories" class="no-bullet categories">
  <%subcategories_selected = false%>
    <% @subcategories.each do |category| %>
      <li class="inline-block">
        <%tag_selected = params[:tags] && params[:tags].split(',').include?(category.name)%>
    <%subcategories_selected ||= tag_selected%>
        <%css_class = { class: "is-active" } if tag_selected %>
        <%tags = params[:tags] ? params[:tags].split(',') : []%>
        <%tag_selected ? tags.delete(category.name) : tags << category.name%>
      <%= link_to category.name, send("#{model.pluralize}_path", tags: tags.join(","), filter: params[:filter]), css_class || {} %>
      </li>
    <% end %>
  </ul>
  <%=link_to "reset", {tags: selected_categories.join(",")}, style: "margin-top: -20px; display: block; margin-bottom: 15px;" if subcategories_selected%>
<%end%>