<% if current_user && current_user.administrator? %>
  <% projekts = Projekt.top_level %>
<% else %>
  <% projekts = Projekt.top_level_active %>
<% end %>

<div id="projekt-tags">
  <%= label_tag 'Projekte'  %>

  <% if model.errors.full_messages.any? { |error| error.include? 'Projekt' } %>
    <br>
    <small class='form-error is-visible'>
      <%= t('custom.projekts.errors.presence') %>
    </small>
  <% end %>

  <div id="projekt-chips">

    <% model.projekts.each do |projekt| %>
      <div class='projekt-chip'>
        <%= projekt.name %>
        <span id=<%= "projekt-chip-#{projekt.id}" %> class="js-deselect-projekt close"> </span>
      </div>
    <% end %>

  </div>

  <div id="projekt-tags-selector">

    <div class="projekt-tags-column">
      <% if projekts.any? { |projekt| projekt.children.any? } %>
        <h6><%= t('custom.projekts.new.first_level') %></h6>
      <% end %>

      <div class="projekt-group"  >
        <%= f.collection_check_boxes :projekt_ids, projekts, :id, :name do |cb| %>
          <% cb.object.children.any? ? arrow = 'show-arrow' : arrow = ''  %>
          <% cb.label(class: "js-show-children-projekts #{arrow}", data: {projekt_id: cb.object.id} ) do  %>
            <%= cb.check_box %>
            <%= cb.text %>
            <span class="checkmark js-select-projekt"></span>
            <div class="checkmark-before js-select-projekt"></div>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="projekt-tags-column">
      <% if projekts.any? { |projekt| projekt.children.any? } %>
        <h6><%= t('custom.projekts.new.second_level') %></h6>
      <% end %>

      <% projekts.each do |projekt| %>
        <% if projekt.children.any? %>
          <div class="projekt-group js-show-children-projekts" data-parent=<%= projekt.id %> >
            <%= f.collection_check_boxes :projekt_ids, projekt.children, :id, :name do |cb| %>
              <% cb.object.children.any? ? arrow = 'show-arrow' : arrow = ''  %>
              <% cb.label(class: "js-show-children-projekts #{arrow}", data: {projekt_id: cb.object.id} ) do  %>
                <%= cb.check_box %>
                <%= cb.text %>
                <span class="checkmark js-select-projekt"></span>
                <div class="checkmark-before js-select-projekt"></div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>


    <div class="projekt-tags-column">
      <% if projekts.any? { |projekt| projekt.children.any? { |projekt| projekt.children.any? } } %>
        <h6><%= t('custom.projekts.new.third_level') %></h6>
      <% end %>

      <% projekts.each do |projekt| %>
        <% if projekt.children.any? %>
          <% projekt.children.each do |projekt| %>
            <% if projekt.children.any? %>
              <div class="projekt-group js-show-children-projekts" data-parent=<%= projekt.id %> >
                <%= f.collection_check_boxes :projekt_ids, projekt.children, :id, :name do |cb| %>
                  <% cb.object.children.any? ? arrow = 'show-arrow' : arrow = ''  %>
                  <% cb.label(class: "js-show-children-projekts #{arrow}", data: {projekt_id: cb.object.id} ) do  %>
                    <%= cb.check_box %>
                    <%= cb.text %>
                    <span class="checkmark js-select-projekt"></span>
                    <div class="checkmark-before js-select-projekt"></div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% if false %>

    <div class="projekt-tags-column">
      <% if projekts.any? { |projekt| projekt.children.any? { |projekt| projekt.children.any? { |projekt| projekt.children.any? } } } %>
        <h6><%= t('custom.projekts.new.fourth_level') %></h6>
      <% end %>

      <% projekts.each do |projekt| %>
        <% if projekt.children.any? %>
          <% projekt.children.each do |projekt| %>
            <% if projekt.children.any? %>
              <% projekt.children.each do |projekt| %>
                <% if projekt.children.any? %>
                  <div class="projekt-group js-show-children-projekts" data-parent=<%= projekt.id %> >
                    <%= f.collection_check_boxes :projekt_ids, projekt.children, :id, :name do |cb| %>
                      <% cb.object.children.any? ? arrow = 'show-arrow' : arrow = ''  %>
                      <% cb.label(class: "js-show-children-projekts #{arrow}", data: {projekt_id: cb.object.id} ) do  %>
                        <%= cb.check_box %>
                        <%= cb.text %>
                        <span class="checkmark js-select-projekt"></span>
                        <div class="checkmark-before js-select-projekt"></div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% end %>

  </div>
</div>
