<% accesskey = 0 %>
<% @active_projekts.each do |active_projekt| %>
  <li class='nav-element top-level-item'
      tabindex="0"
      aria-label="<%= t('custom.links.menu.projekt_name_label') %>"
      <%= "aria-expanded=false" if active_projekt.children.any? %> >

    <div class='flyout-item-name projekt-name'>
      <% accesskey += 1 %>
      <% if accesskey < 9 %>
        <%= prepare_projekt_name(active_projekt, accesskey) %>
      <% else %>
        <%= prepare_projekt_name(active_projekt) %>
      <% end %>
    </div>

    <% if active_projekt.children.any? %>
      <div class='nav-toggle-arrow js-toggle-mobile-flyout-item'>
      </div>
    <% end %>

    <%= render partial: 'shared/subnavigation_flyout_projekts', locals: { projekts: active_projekt.children.with_order_number } if active_projekt.children.any? %>

  </li>
<% end %>

<% if show_archived_projekts_in_menu? && @archived_projekts.any? %>
  <li class='nav-element top-level-item'
      tabindex="0"
      aria-label="<%= t('custom.links.menu.archived_projekts_label') %>"
      aria-expanded='false'>

    <div class='flyout-item-name projekt-name'>
      <%= t('custom.menu.archived') %>
    </div>

    <div class='nav-toggle-arrow js-toggle-mobile-flyout-item'>
    </div>

    <%= render partial: 'shared/subnavigation_flyout_projekts', locals: { projekts: @archived_projekts } %>
  </li>
<% end %>
