<li class="nav-element top-level-item js-access-top-level-menu js-prevent-key-scroll"
    aria-label= <%= t('custom.links.menu.konto_icon') %>
    aria-expanded='false'
    aria-haspopup='true'
    tabindex="0"
  >

  <%= link_to account_path, class: 'account-items-icon', tabindex: "-1", aria: { hidden: true } do %>
    <%= svg_tag 'account-menu-icon', class: "account-icon" %>
  <% end %>

  <%= link_to account_path, class: 'account-items-link' do %>
    <%= t('custom.menu.account') %>
  <% end %>

  <div class='nav-toggle-arrow js-toggle-mobile-flyout-item'></div>

  <ul class="nav-flyout-block">
    <%= render "devise/menu/login_items" %>
  </ul>
</li>
