<% accesskey = 0 %>
<% @top_level_projekts_for_menu.each do |active_projekt| %>
  <% accesskey += 1 %>
  <% projekt_children_to_show_in_menu = active_projekt.children_with_active_feature('general.show_in_navigation') %>

  <li class='nav-element top-level-item js-access-top-level-menu js-prevent-key-scroll'
      <%= "tabindex=0" if placement == "desktop" %>
      aria-label='<%= t('custom.links.menu.projekt_name_label', projekt_name: active_projekt.page.title) if placement == "desktop" %>'
      <%= "aria-expanded=false" if projekt_children_to_show_in_menu.any? %>
      <%= "aria-haspopup=true" if projekt_children_to_show_in_menu.any? && placement == "desktop" %>
      <%= "accesskey=#{accesskey}" if accesskey < 9 && placement == "desktop" %> >

    <div class='flyout-item-name projekt-name'>
      <%= prepare_projekt_name(active_projekt, placement) %>
    </div>

    <% if placement == 'mobile' && projekt_children_to_show_in_menu.any? %>
      <div class='nav-toggle-arrow js-toggle-mobile-flyout-item focusable'
        tabindex="0"
        aria-label='<%= t('custom.links.menu.mobile.arrow_projekts') %>'
        aria-haspopup=true
        aria-expanded=false
      >
      </div>
    <% end %>

    <%= render partial: 'shared/subnavigation_flyout_projekts', locals: { projekts: projekt_children_to_show_in_menu.with_order_number, placement: placement } if projekt_children_to_show_in_menu.any? %>

  </li>
<% end %>
