<ul class="nav-flyout-block">
  <% projekts.each do |projekt| %>
    <li class='nav-element flyout-item'>

      <div class='projekt-name-group'>
        <div class='flyout-item-name projekt-name'>
          <%= prepare_projekt_name(projekt) %>
        </div>

        <% if projekt.children.any? %>
          <div class='nav-toggle-arrow js-toggle-mobile-flyout-item'>
          </div>
        <% end %>

        <div class='projekt-modules-icons'>

          <% if debate_phase_active?(projekt) %>
            <%= link_to (debates_path + "?projekts=#{projekt.all_children_ids.push(projekt.id).join(',')}"), class: 'module-icon-link' do  %>
              <%= image_tag "help/help_icon_debates.png", alt: t("debates.icon_alt"), class: "module-icon" %>
            <% end %>
          <% end %>

          <% if proposal_phase_active?(projekt) %>
            <%= link_to (proposals_path + "?projekts=#{projekt.all_children_ids.push(projekt.id).join(',')}"), class: 'module-icon-link' do  %>
              <%= image_tag "help/help_icon_proposals.png", alt: t("proposals.icon_alt"), class: "module-icon" %>
            <% end %>
          <% end %>

          <% if related_polls_exist?(projekt) %>
            <%= link_to (polls_path + "?projekts=#{projekt.all_children_ids.push(projekt.id).join(',')}"), class: 'module-icon-link' do  %>
              <%= image_tag "help/help_icon_polls.png", alt: t("polls.icon_alt"), class: "module-icon" %>
            <% end %>
          <% end %>

        </div>

      </div>
      
      <%= render partial: 'shared/subnavigation_flyout_projekts', locals: { projekts: projekt.children.with_order_number } if projekt.children.any? %>
    </li>
  <% end %>
</ul>

