<li class="nav-element top-level-item">

  <%= link_to account_path, class: 'account-items-icon' do %>
    <%= svg_tag 'account-menu-icon', class: "account-icon" %>
  <% end %>

  <%= link_to account_path, class: 'account-items-link' do %>
    <%= t('custom.menu.account') %>
  <% end %>

  <div class='nav-toggle-arrow js-toggle-mobile-flyout-item'></div>

  <ul class="nav-flyout-block">
    <%= render "devise/menu/login_items" %>
  </ul>
</li>
