<div class="column">
  <ul class="main-menu">
    <div class="content-items">
      <%= render partial: 'shared/subnavigation_home', locals: { placement: placement } %>
      <%= raw content_block("subnavigation_left", I18n.locale) %>
      <%= render partial: 'shared/subnavigation_projekts', locals: { placement: placement } %>
      <%= raw content_block("subnavigation_right", I18n.locale) %>
    </div>

    <div class="account-admin-items">
      <%= render partial: "layouts/notification_item", locals: { placement: placement } %>
      <%= render partial: 'shared/subnavigation_konto', locals: { placement: placement } %>
      <%= render partial: 'shared/subnavigation_admin', locals: { placement: placement } %>
    </div>
  </ul>
</div>
