<li class="nav-element top-level-item js-access-top-level-menu js-prevent-key-scroll"
    aria-label='<%= "#{t('custom.links.menu.home_icon')}" if placement == 'desktop' %>'
    <%= "tabindex=0" if placement == 'desktop' %>
>
  <%= link_to root_path, class: 'home-items-icon', tabindex: '-1', aria: { hidden: true } do %>
    <span class="icon-home"
          aria-hidden="true"
          title="<%= t("custom.layouts.header.home_link") %>"
          aria-label="<%= t("custom.layouts.header.home_link") %>" >
     </span>
  <% end %>
</li>
