<div class="column">
  <ul class="main-menu">
    <div class="content-items">
      <%= render partial: 'shared/subnavigation_home' %>
      <%= raw content_block("subnavigation_left", I18n.locale) %>
      <%= render partial: 'shared/subnavigation_projekts' %>
      <%= raw content_block("subnavigation_right", I18n.locale) %>
    </div>

    <div class="account-admin-items">
      <%= render partial: 'shared/subnavigation_konto' %>
      <%= render partial: 'shared/subnavigation_admin' %>
    </div>
  </ul>
</div>
